.navmob{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    z-index: 10;

    
    &.active{
        @media #{$res-break} {
            display: block;
        }

        @include animate(fadeIn, .1s);
        .navmob__content{
            @include animate(fadeInLeft, 0s);
        }
    }

    @include e('content'){
        width: 85%;
        height: 100%;
        overflow-x: auto;
        background-color: #FFF;
    }

}