.footer{
    width: 100%;
    
    .ftln{
        width: 100%;

        @include m('news'){
            background-color: $color-gray-extra-light;
        }

        @include m('mid'){
            background-color: #222;
        }

    }
}