.ckt_aside {
    min-width: 260px;
    margin-top: 10px;

    &.fixed {
        top: 60px;
        position: fixed;
    }

    &.bottom {
        position: absolute;
        bottom: 30px;
        top: auto;
    }


    .line_gray{
        width: 100%;
        height: 1px;
        background-color: $color-gray-light;
        display: block;
        margin: 22px 0px;
    }

    .line_gray_dashed{
        width: 100%;
        height: 0px;
        border-bottom: 1px dashed $color-gray-light;
        display: block;
        margin: 15px 0px;
    }

    @include e('resume') {
        @include flexbox(row, wrap, flex-start, center, center);

        @include e('icon') {
            max-width: 20px;
            height: auto;
            margin-right: 10px;
        }

        @include e('title') {
            @include fonte($second-font, 600, 18px, $color-gray);
        }

        @include e('qtd') {
            @include fonte($second-font, 400, 14px, $color-gray);
            margin-left: 5px;
        }
    }

    @include e('sp'){
        @include flexbox(row, wrap, flex-end, center, center); 
        @include e('txt') {
            @include flexbox(row, nowrap, flex-start, center, center);
            @include fonte($second-font, 400, 13px, $color-green);
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
            padding-left: 25px;
            margin-right: 10px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }

    
    
    @include e('store'){
        display: block;
        width: 100%;

        @include e('value'){
            display: block;
            width: 100%;
            text-align: right;
            a{
                @include fonte($second-font, 400, 16px, $color-gray);
            }
        }

        @include e('name'){
            @include fonte($second-font, 400, 16px, $color-gray);
            width: 100%;
            display: block;
            margin-bottom: 5px;
            text-align: right;
        }

        @include e('subtotal'){
            @include flexbox(row, wrap, flex-end, flex-end, center); 
            width: 100%;
            margin-bottom: 5px;

            @include e('desc'){
                @include fonte($second-font, 600, 16px, $color-green);
                margin-right: 5px;
            }

            @include e('val'){
                @include fonte($second-font, 600, 24px, $color-green);
            }

        }

    }


    
}