.nrk_basket{
    background-color: $body_gray_bg;

    .wrapper{
        @include flexbox(row, wrap, space-between, flex-start, center);
        overflow: hidden;
    }

    .noprod {
        @include flexbox(row, wrap, center, center, center);
        @include box-sizing;
        border: 1px solid $color-gray-light;
        padding: 20px;
        margin: 20px auto;
        text-align: center;
        background-color: #FFF;

        img{
            max-width: 70px;
        }

        p{
            @include fonte($second-font, 400, 24px, $color-gray);
            text-align: center;
            display: block;
            width: 100%;
        }
        
    }

    .check__aside{
        @include box-sizing;
        padding-left: 15px;
    }

    .bkt_store{
        @include box-sizing;
        width: 100%;
        padding: 20px;
        border: 1px solid $color-gray-light;
        background-color: #FFF;
        margin-bottom: 15px;

        @include e('header'){
            @include flexbox(row, wrap, space-between, flex-start,  center);
            border-bottom: 1px solid $color-gray-light;
            padding-bottom: 15px;
        }

        @include e('name'){
            strong {
                @include fonte($second-font, 600, 14px, $color-gray-dark);
            }
            span{
                @include fonte($second-font, 400, 14px, $color-gray-dark);
            }
        }

        @include e('points'){
            span{
                @include flexbox(row, nowrap, flex-start, center, center);
                @include fonte($second-font, 400, 13px, $color-green);
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
                padding-left: 25px;
                margin-right: 10px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;
            }
        }

    }

    .bkt_prodlist{
        width: 100%;
    }

    .bkt_prod{

        td{
            @include box-sizing;
            border-bottom: 1px dashed $color-gray-light;
            padding: 15px;
            border-collapse: collapse;
        }

        &:last-of-type{
            td{
                border-bottom: none;
            }    
        }

        @include e('photo'){
            @include e('img'){
                max-width: 65px;
                border: 1px solid $color-gray-light;
                height: auto;
            }
        }

        @include e('info'){
            max-width: 300px;
            @include e('name'){
                @include fonte($second-font, 400, 13px, $color-gray-dark);
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }

            @include e('code'){
                @include fonte($second-font, 400, 12px, $color-gray-dark);
            }
        }

        @include e('title'){
            @include fonte($second-font, 400, 13px, $color-gray-dark);
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }


        @include e('qtd'){
            > div{
                @include flexbox(row, nowrap, center, center, center);
            }

            
            input{
                @include fonte($second-font, 600, 13px, $color-gray-dark);
                width: 40px;
                text-align: center;
                border: 0px;
            }

            a{
                @include flexbox(row, nowrap, center, center, center);
                font-size: 0;
                width: 22px;
                height: 22px;
                &:before{
                    @include set-icon($fa-var-search, 18px, 900, $color-gray);
                }
                
                &.plus{
                    &:before{
                        content: "\f055";
                    }
                }

                &.minus{
                    &:before{
                        content: "\f056";
                    }
                }

            }
        }

        @include e('val'){
            //@include flexbox(column, nowrap, space-between, center, center);
            position: relative;
            text-align: right;
            span{
                text-align: right;
            }

            @include e('price'){
                @include fonte($second-font, 400, 18px, $color-gray-dark);
                display: block;
                margin-top: 10px;
                text-align: right;
            }

        }

        @include e('unit'){
            span{
                text-align: right;
            }
        }

        @include e('remove'){
            vertical-align: middle;
            text-align: center;
        }

        @include e('del'){
            font-size: 0;
            &:before{
                @include set-icon($fa-var-times, 18px, 900, $color-gray-light);
                content: "\f00d";
            }
        }

    }

    .line_gray{
        width: 100%;
        height: 1px;
        background-color: $color-gray-light;
        display: block;
        margin: 22px 0px;
    }

    .bkt_resume,
    .bkt_coupon{
        @include flexbox(row, wrap, flex-start, center, center);
        
        @include e('icon'){
            max-width: 20px;
            height: auto;
            margin-right: 10px;
        }

        @include e('title'){
            @include fonte($second-font, 600, 18px, $color-gray);
        }

        @include e('qtd'){
            @include fonte($second-font, 400, 14px, $color-gray);
            margin-left: 5px;
        }

    }

    .bkt_resume{
        @include flex-align-itens(flex-end);
    }

    .bkt_coupon{
        @include e('cont'){
            @include flexbox(row, nowrap, flex-start, center, center);
            width: 100%;
        }
        @include e('act'){
            color:  $color-gray;
            margin-left: auto;
            margin-right: 5px;
            font-size: 23px;
        }

        @include e('icon'){
            max-width: 30px;
        }

        @include e('form'){
            @include flexbox(row, wrap, space-between, center, center);
            margin-top: 10px;  
        }

        @include e('msg'){
            @include fonte($second-font, 400, 14px, $color-gray);
            padding: 15px 5px;
            width: 100%;
        }

        @include e('input'){
            @include box-sizing;
            width: 65%;
            height: 40px;
            border: 1px solid $color-gray-light;
            padding: 10px;
            margin: 0;
        }
        
        @include e('bt'){
            @include box-sizing;
            @include radiustl(0);
            @include radiusbl(0);
            @extend %bt-default;
            width: 35%;
            height: 40px;
            margin: 0;
        }
    }

     
    .bkt_total{
        @include flexbox(row, wrap, space-between, center, center);
        @include fonte($second-font, 600, 24px, $color-gray);
    }

    .bkt_totalpoints {
        @include e('txt') {
            @include flexbox(row, nowrap, flex-start, center, center);
            @include fonte($second-font, 400, 13px, $color-green);
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
            padding-left: 25px;
            margin-right: 10px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }


}