.steps{
    background-color: $body_gray_bg;
    #breadcrumbs{
        display: block !important;
    }
}
.nrk_checkout{
    @include e('h1'){
        @include fonte($second-font, 400, 24px, $color-gray);
        width: 100%;
        display: block;
    }

    @include e('header'){
        @include box-sizing;
        padding: 10px;
        width: 100%;
        background-color: #FFFFFF;
        @include e("logo") {
            @include order(1);
            overflow: hidden;
            width: 100%;
            max-width: 150px;
            display: block;
            height: 55px;
    
            @media #{$res-break} {
                width: auto;
                height: 25px;
            }
    
            @include e("img") {
                @include transition;
    
                width: 100%;
                height: auto;
    
                .st0 {
                    @include transition;
                }
    
                @media #{$res-break} {
                    width: 90px;
                    margin-left: 10px;
                }
            }
        }
    }
}