#breadcrumbs {
    background-color: #FFF;
    display: none;
    .wrapper{
        @include flexbox(row, nowrap, space-between, center, center);
    }

    ul {
        @include flexbox(row, wrap, space-between, center, center);
        width: 100% ;
        margin: 10px 0px;
        padding: 0;

        li {
            list-style: none;
            padding: 0;
            span{
                @include flexbox(column, nowrap, flex-start, center, center);
                @include fonte($second-font, 400, 14px, $color-gray);
            }
            em {
                @include flexbox(row, wrap, center, center, center);
                @include fonte($second-font, 600, 18px, $color-gray);
                @include border-radius(150px);
                border: 1px solid $color-gray;
                width: 45px;
                height: 45px;
                font-style: inherit;
                background-color: #FFF;
            }

            &.step-dots{
                @include flexbox(row, nowrap, center, center, center);
                @include opacity(.2);
                .circle{
                    @include border-radius(10px);
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: $color-gray;
                    & + .circle:not(:last-of-type){
                        margin: 0px 5px;
                    }
               }

            }

            &.selected,
            &.disabled-prev{
                em{
                    border: 1px solid #059924;
                    background-color: #059924;
                    color: #FFF;
                }
                & + .step-dots{
                    @include opacity(1);
                    .circle{
                        background-color: #059924;
                    }
                }
            }

        }
    }



    @include res-max(300px) {
        ul{
            li{
                display: none;
                &.step-dots{
                    display: none;
                }

                &.selected{
                    display: block;
                    + li + li,
                    + li + li + li + li{
                        display: block;
                    }
                }

            }
        }
    }
    @include res-between(301px, 400px) {
        ul{
            li{
                display: none;
                &.step-dots{
                    display: none;
                }

                &.selected{
                    display: block;
                    + li + li,
                    + li + li + li + li{
                        display: block;
                    }
                }

            }
        }
    }
    @include res-between(401px, 500px) {
        ul{
            li{
                display: none;
                &.step-dots{
                    display: none;
                }

                &.selected{
                    display: block;
                    + li + li,
                    + li + li + li + li,
                    + li + li + li + li + li + li{
                        display: block;
                    }
                }

            }
        }
    }
    @include res-between(501px, 600px) {
        ul{
            li{
                &.step-dots{
                    display: none;
                }
            }
        }
    }
    @include res-between(601px, 700px) {}
    @include res-between(701px, 800px) {}
    @include res-between(801px, 900px) {}
    @include res-between(901px, 1000px) {}
    @include res-min(1001px) {}

}