body:not(.steps){
    #breadcrumbs{
        display: none;
    }
}


.myacc_address{

    #addressList{
        @include transition;
    }
    
    .wrapper{
        @include flexbox(row, wrap, space-around, inherit, flex-start);
        padding-bottom: 40px;
        overflow: hidden;
    }
    
    .actions{
        @include flexbox(row, wrap, flex-end, flex-start, flex-start);
        @include box-sizing;
        width: 100%;
        padding: 0px 10px;
    }

    .btn {
        @extend %bt-default;

        &.cancel {
            background-color: $color-gray-light;
            color: $color-gray-extra-dark;
            margin-left: 20px;
            &:hover {
                background-color: $color-gray;
                color: $color-gray-extra-light;
            }
        }
    }


    .address {
        @include flexbox(row, wrap, flex-start, inherit, flex-start);
        @include box-sizing;
        padding: 10px;
        width: 100%;
    }

    .address_block{
        @include box-sizing;
        @include border-radius(3px);
        width: calc(100% / 2 - 20px);
        border: 1px solid $color-gray-light;
        background: #FFF;
        margin: 10px;
        height: auto !important;
    }

    .address-header{
        @include flexbox(row, nowrap, space-between, inherit, flex-start);
        @include box-sizing;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid $color-gray-light;
    }

    .address-act{
        @include flexbox(row, nowrap, flex-start, center, center);
    }

    .adress-single{
        @include box-sizing;
        padding: 20px;
        width: 100%;
        > span{
            @include fonte($second-font, 400, 14px, $color-gray-extra-dark);
            display: block;
            width: 100%;
            strong{
                @include fonte($second-font, 600, 14px, $color-gray-extra-dark);
            }
        }
    }

    #addressList{
        list-style: none;
    }
    .address_ico {
        font-size: 0px;
        width: 17px;
        height: 17px;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;

        @include m('edit'){
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/icon-edit.png");
        }

        @include m('del'){
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/icon-x.png");
            margin-left: 10px;
        }

    }

    .my_address{
        @include box-sizing;
        width: 100%;
        border: 1px dashed $color-gray-dark;
        width: 100%;
        padding: 20px;
    }

    .address-new{
        @include fonte($second-font, 600, 18px, $color-gray-extra-dark);
        margin: 0px auto;
        .fas {
            font-size: 22px;
        }
    }

    .adress-register{
        .header {
            @include box-sizing;
            @include transition;

            text-align: center;
            cursor: pointer;
        }


        .active{
            .header{
                background-color: transparent;
                text-align: left;
                .title {
                    @include fonte($second-font, 400, 24px, $color-gray-extra-dark);
                    margin-bottom: 5px;
                    display: block;
                    width: 100%;
                }
                i{
                    display: none;
                }
            }
            .atention {
                margin-bottom: 20px;
                display: block;
                width: 100%;
            }

        }
    }

    .nrk_checkout__h1{
        display: none;
    }

    .address-hide{
        display: none;
        & + .my_address{
            border-color: transparent;
        }
    }

    @include res-max(450px){
        .address_block{
            width: 100%;
        }
        #action a{
            margin: 10px 0px;
            width: 100%;
        }
    }

    @include res-between(451px, 550px){
        .address_block{
            width: calc(100% / 2 - 20px);
        }
        #action a{
            margin: 10px 0px;
            width: 100%;
        }
    }

    @include res-between(551px, 650px){
        .address_block{
            width: calc(100% / 2 - 20px);
        }

        #action a{
            margin: 10px 0px;
            width: 100%;
        }

    }

}

.steps .myacc.myacc_address{
    .myacc__wrap {
        @include order(1);

        .use-address{
            @extend %bt-default;
            margin-left: 15px;
        }
    }
    .myacc__aside{
        @include order(2);
        width: 25% !important;
        .mymenu{
            display: none;
        }
    }
    .nrk_checkout__h1{
        display: block;
    }
    .chat{
        display: none;
    }

    #addressList{
        padding-top: 0px;
        margin-top: 0px;
    }

    .my_address{
        max-width: 830px;
        margin: 10px auto;
    }

}

.nrk_ship{
    @include box-sizing;
    border-bottom: 1px solid $color-gray-light;
    padding-bottom: 10px;
    margin-bottom: 10px;
    @include e('title'){
        @include fonte($second-font, 400, 16px, $color-gray);
        @include box-sizing;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-gray-light;
        margin-bottom: 10px;
        &:before{
            @include set-icon($fa-var-search, 22px, 900, $color-gray);
            content: "\f0d1";
            margin-right: 5px;
        }

    }

    .rk-observation{
        display: none;
    }

    @include e('store'){
        @include fonte($second-font, 400, 14px, $color-gray);
        margin-bottom: 10px;
    }

    .rk-fake-radio{
        @include flexbox(row, wrap, flex-start, center, center);
        @include box-sizing;
        padding-left: 10px;
        width: 100%;
        label{
            @include box-sizing;
            width: 50%;
            input{
                visibility: hidden;
            }
            .value{
                @include flexbox(row, nowrap, flex-start, center, center);
                .nrk_ship__label{
                    @include flexbox(row, wrap, center, center, center);
                    @include fonte($second-font, 800, 14px, $color-gray-dark);
                    @include transition;
                    cursor: pointer;
                    text-transform: uppercase;
                    margin-right: 15px;
                    width: 235px;
                    height: 45px;
                    background-color: $color-gray-extra-light;
                }
                .nrk_ship__info{
                    @include e('value'){
                        @include fonte($second-font, 800, 18px, $color-gray-dark);
                        display: block;
                    }
                    @include e('desc'){
                        @include fonte($second-font, 400, 14px, $color-gray-dark);
                        display: block;
                    }
                }
                br{
                    display: none;
                }
            }

            &.selected{
                .nrk_ship__label{
                    color: $color-gray-extra-light;
                    background-color: $color-gray;
                }
            }
        }
    }


    @include e('calendar'){
        @include fonte($second-font, 400, 16px, $color-gray);
        @include box-sizing;
        width: 100%;
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-gray-light;
        margin: 20px 0px;
        &:before{
            @include set-icon($fa-var-search, 22px, 900, $color-gray);
            content: "\f783";
            margin-right: 5px;
        }
    }

    .rk-scheduled-shipping{
        @include flexbox(row, wrap, space-between, center, center);
        @include box-sizing;
        padding: 30px;
        background-color: $color-gray-light;
        margin-top: 10px;

        .nrk_ship__calendar__title {
            @include fonte($second-font, 400, 16px, $color-gray);
            @include box-sizing;
            display: block;
            border-bottom: 1px solid $color-gray-light;
            padding-bottom: 10px;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid $color-gray-light;
            margin-bottom: 10px;

            @include m('calendar') {
                &:before {
                    @include set-icon($fa-var-search, 22px, 900, $color-gray);
                    content: "\f783";
                    margin-right: 10px;
                }
            }

            @include m('timer') {
                &:before {
                    @include set-icon($fa-var-search, 22px, 900, $color-gray);
                    content: "\f017";
                    margin-right: 10px;
                }
            }

        }
            
    }

    @include e('foot'){
        @include flexbox(row, wrap,  space-between, center, center);
        margin-top: 50px;
        .rk-shipping-warning{
            @include fonte($second-font, 400, 12px, $color-gray-dark);
            width: 60%;
        }

        @include e('btns'){
            @include flexbox(row, nowrap, flex-end, center, center);
            position: relative;
            width: 40%;
            .rk-warning{
                @include fonte($second-font, 400, 12px, $color-red-dark);
                @include border-radius();
                position: absolute;
                border: 1px solid $color-red-dark;
                right: 0;
                bottom: 50px;
                background-color: #FFF;
                width: 100%;
                max-width: 250px;
                padding: 10px;
                &:before{
                    @include set-icon($fa-var-caret-down, 25px, 900, $color-red-dark);
                    content: "\f0d7";
                    position: absolute;
                    bottom: -18px;
                    left: calc(50% - 7.5px);
                }
            }
        }

        .rk-btn{
            @extend %bt-default;
            margin: 0px 10px;
            &.rk-green{
                background-color: $color-green;
                &:hover{
                    background-color: $color-green-dark;
                }
            }
        }
            

    }

}

@include res-max(300px) {
    .steps .myacc.myacc_address{
        .myacc__aside{
            width: 100% !important;
        }
        .mymenu__mob{
            display: none;
        }
        .address_block{
            margin: 10px 0px;
            .use-address{
                margin: 0;
                width: 100%;
            }
        }
    }
    .nrk_modal.active{
        width: 100%;
        height: 100%;
        padding: 10px;
        .rk-fake-radio{
            label{
                width: 100%;
            }
            .value{
                @include flex-wrap(wrap);
                .nrk_ship__label{
                    width: 100%;
                    margin: 10px 0px;
                }
                .nrk_ship__info{
                    width: 100%;
                    padding: 10px;
                    border-bottom: 1px solid #CCC;
                }
            }
        }
        .nrk_ship__foot{
            width: 100%;
            .rk-shipping-warning{
                width: 100%;
            }
            .nrk_ship__foot__btns{
                @include flex-wrap(wrap);
                width: 100%;
                >a{
                    width: 100%;
                    margin: 10px 0;
                }
                .rk-warning{
                    width: 91%;
                }
            }
        }
    }
}
@include res-between(301px, 400px) {
    .steps .myacc.myacc_address{
        .myacc__aside{
            width: 100% !important;
        }
        .mymenu__mob{
            display: none;
        }
        .address_block{
            margin: 10px 0px;
            .use-address{
                margin: 0;
                width: 100%;
            }
        }
    }
    .nrk_modal.active{
        width: 100%;
        height: 100%;
        padding: 10px;
        .rk-fake-radio{
            label{
                width: 100%;
            }
            .value{
                @include flex-wrap(wrap);
                .nrk_ship__label{
                    width: 100%;
                    margin: 10px 0px;
                }
                .nrk_ship__info{
                    width: 100%;
                    padding: 10px;
                    border-bottom: 1px solid #CCC;
                }
            }
        }
        .nrk_ship__foot{
            width: 100%;
            .rk-shipping-warning{
                width: 100%;
            }
            .nrk_ship__foot__btns{
                @include flex-wrap(wrap);
                width: 100%;
                >a{
                    width: 100%;
                    margin: 10px 0;
                }
                .rk-warning{
                    width: 91%;
                }
            }
        }
    }
}
@include res-between(401px, 500px) {
    .steps .myacc.myacc_address{
        .myacc__aside{
            width: 100% !important;
        }
        .mymenu__mob{
            display: none;
        }
        .address_block{
            margin: 10px 0px;
            .use-address{
                margin: 0;
                width: 100%;
            }
        }
    }
    .nrk_modal.active{
        width: 100%;
        height: 100%;
        padding: 10px;
        .rk-fake-radio{
            label{
                width: 100%;
            }
            .value{
                @include flex-wrap(wrap);
                .nrk_ship__label{
                    width: 100%;
                    margin: 10px 0px;
                }
                .nrk_ship__info{
                    width: 100%;
                    padding: 10px;
                    border-bottom: 1px solid #CCC;
                }
            }
        }
        .nrk_ship__foot{
            width: 100%;
            .rk-shipping-warning{
                width: 100%;
            }
            .nrk_ship__foot__btns{
                @include flex-wrap(wrap);
                width: 100%;
                >a{
                    width: 100%;
                    margin: 10px 0;
                }
                .rk-warning{
                    width: 91%;
                }
            }
        }
    }
}
@include res-between(501px, 600px) {
    .steps .myacc.myacc_address{
        .myacc__aside{
            width: 100% !important;
        }
        .mymenu__mob{
            display: none;
        }
        .address_block{
            margin: 10px 0px;
            .use-address{
                margin: 0;
                width: 100%;
            }
        }
    }
    .nrk_modal.active{
        width: 100%;
        height: 100%;
        padding: 10px;
        .rk-fake-radio{
            label{
                width: 100%;
            }
            .value{
                @include flex-wrap(wrap);
                .nrk_ship__label{
                    width: 100%;
                    margin: 10px 0px;
                }
                .nrk_ship__info{
                    width: 100%;
                    padding: 10px;
                    border-bottom: 1px solid #CCC;
                }
            }
        }
        .nrk_ship__foot{
            width: 100%;
            .rk-shipping-warning{
                width: 100%;
            }
            .nrk_ship__foot__btns{
                @include flex-wrap(wrap);
                width: 100%;
                >a{
                    width: 100%;
                    margin: 10px 0;
                }
                .rk-warning{
                    width: 91%;
                }
            }
        }
    }
}
@include res-between(601px, 700px) {}
@include res-between(701px, 800px) {}
@include res-between(801px, 900px) {}
@include res-between(901px, 1000px) {}
@include res-min(1001px) {}