.myacc_cards {
    .wrapper{
        
    }

    .nocards{
        display: none;
        &.db{
            @include flexbox(row, wrap, center, center, center);
        }
        @include box-sizing;
        @include border-radius;
        padding: 20px;
        text-align: center;
        background-color: #FFF;
        min-height: 450px;
        border: 1px solid $color-gray-light;
        span{
            @include fonte($second-font, 400, 24px, $color-gray);
            text-align: center;
            display: block;
            width: 100%;
            &:before{
                @include bgimage("icon-no-cards.png", false);
                content: "";
                width: 65px;
                height: 65px;
                display: block;
                background-repeat: no-repeat;
                background-size: contain;
                margin: 0px auto;
            }
        }

        .btn-new {
            @include flexbox(row, nowrap, center, center, center);
            @include fonte($second-font, 600, 18px, $color-gray-extra-dark);
            @include box-sizing;
            @include transition;
            width: 100%;
            border: 1px dashed $color-gray-dark;
            width: 100%;
            padding: 20px;
            margin: 0px auto;
            cursor: pointer;
            margin-top: 60px;

            &:hover{
                background-color: $color-gray-extra-light;
            }

            &:after{
                @include flexbox(row, wrap, center, center, center);
                @include border-radius(100%);
                content: "+";
                background-color: $color-gray-dark;
                width: 30px;
                height: 30px;
                color: #FFF;
                font-size: 20px;
                margin-left: 10px;
            }

        }      

    }
}