.myacc_cards {
    .wrapper{
        
    }

    .nocards{
        @include animate(fadeIn, 0s);
        display: none;
        &.db{
            @include flexbox(row, wrap, center, center, center);
        }
        @include box-sizing;
        @include border-radius;
        padding: 20px;
        text-align: center;
        background-color: #FFF;
        min-height: 450px;
        border: 1px solid $color-gray-light;
        span{
            @include fonte($second-font, 400, 24px, $color-gray);
            text-align: center;
            display: block;
            width: 100%;
            &:before{
                @include bgimage("icon-no-cards.png", false);
                content: "";
                width: 65px;
                height: 65px;
                display: block;
                background-repeat: no-repeat;
                background-size: contain;
                margin: 0px auto;
            }
        }

        .btn-new {
            @include flexbox(row, nowrap, center, center, center);
            @include fonte($second-font, 600, 18px, $color-gray-extra-dark);
            @include box-sizing;
            @include transition;
            width: 100%;
            border: 1px dashed $color-gray-dark;
            width: 100%;
            padding: 20px;
            margin: 0px auto;
            cursor: pointer;
            margin-top: 60px;

            &:hover{
                background-color: $color-gray-extra-light;
            }

            &:after{
                @include flexbox(row, wrap, center, center, center);
                @include border-radius(100%);
                content: "+";
                background-color: $color-gray-dark;
                width: 30px;
                height: 30px;
                color: #FFF;
                font-size: 20px;
                margin-left: 10px;
            }

        }      

    }
    
    .data {
        @include flexbox(row, wrap, space-between, flex-start, center);
        @include animate(fadeIn, 0s);
        .fieldbox{
            width: 100%;
            max-width: 320px;
            .field{
                width: 100%;
            }
        }

        .infobox{
            @include fonte($second-font, 400, 14px, $color-gray);
            width: calc(100% - 320px);
            li{
                padding: 10px 0px;
            }
        }
    }

    .field{
        margin: 0px;
        @include m('card'){
            @include flexbox(row, nowrap, flex-start, flex-start, center);
            width: 100%;
            border-bottom: 1px solid $color-gray-light;
            > div{
                width: 100%;
                max-width: 300px;
            }

        }
        

        @include m('validate'){
            > label{
                @include flexbox(row, nowrap, flex-start, center, center);
            }

            .desc{
                @include fonte($second-font, 400, 12px, $color-gray);
            }

            .month{
                margin: 0px 10px;
            }
            
        }

        @include m('cod_doc'){
            @include flexbox(row, nowrap, space-between, center, center);
            position: relative;
            > div{
                width: calc(70% - 5px);
                position: relative;
            }

            > div + div{
                width: calc(30% - 5px);
                position: relative;
            }

            .help{
                position: absolute;
                right: 10px;
                top: calc(50% - 7.5px);
                &:hover + .ccv{
                    @include animate(fadeInRight, 0s);
                    visibility: visible;
                }
            }

           

        }

        @include m('buttons'){
            @include flexbox(row, wrap, space-between, center, center);
            .btn{
                width: calc(50% - 5px);
                margin: 0px;
            }
        }

        .rk-error{
            @include fonte($second-font, 400, 12px, $color-red);
            @include box-sizing;
            width: 100%;
            padding: 5px;
        }

        .shell,
        input[type="text"]{
            width: 100%;
            max-width: 300px;
        }

        #cardBrand{
            @include flexbox(row, nowrap, space-between, center, center);
            list-style: none;
            margin: 0;

            .card__item{
                @include bgimage('card-icons.png');
                @include grayscale(1);
                @include opacity(.4);
                @include transition;
                width: 68px;
                height: 39px;
                background-repeat: no-repeat;
                margin-right: 10px;

                &.active{
                    @include grayscale(1);
                    @include opacity(1);
                    @include box-shadow(0px, 0px, 5px, $color-gray);
                }

                @include m('mastercard'){
                    @include order(1);
                    background-position: left 0px;
                }

                @include m('visa'){
                    @include order(2);
                    background-position: -81px 0px;
                }

                @include m('amex'){
                    @include order(3);
                    background-position: -161px 0px;
                }

                @include m('diners'){
                    @include order(4);
                    background-position: -243px 0px;
                }

                @include m('elo'){
                    @include order(5);
                    background-position: -327px 0px;
                }

                @include m('hipercard'){
                    @include order(6);
                    background-position: right 0px;
                }
            }

            &.mastercard .card__item--mastercard,
            &.visa .card__item--visa,
            &.amex .card__item--amex,
            &.diners .card__item--diners,
            &.elo .card__item--elo,
            &.hipercard .card__item--hipercard{
                @include grayscale(0);
                @include opacity(1);
            }

        }

    }

    

}

.ccv{
    
    @include m('hover'){
        @include box-shadow(2px, 2px, 4px, $color-gray-light);
        @include animate(fadeOutRight, 0s);
        @include box-sizing;
        visibility: hidden;
        position: absolute;
        width: 520px;
        height: auto;
        background: #FFF;
        z-index: 1;
        padding: 20px;
        margin-bottom: 10px;
        top: -66px;
        left: 107px;
    }

    @include m('fancybox'){
        display: none;
        position: inherit;
        width: 100%;
        height: auto;
        max-width: 600px;
        visibility: visible;
        &.fancybox-content{
            @include animate(fadeIn, 0s);
        }
    }

    &:before{
        @include set-icon($fa-var-caret-left, 40px, 900, #FFF);
        content: "\f0d9";
        position: absolute;
        left: -14px;
        top: calc(50% - 23px);
    }

    @include e('title'){
        @include fonte($second-font, 600, 14px, $color-gray-dark);
        @include box-sizing;
        border-bottom: 1px solid $color-gray-light;
        display: block;
        width: 100%;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    @include e('content'){
        @include flexbox(row, wrap, space-between, center, center);
        margin-top: 20px;
    }

    @include e('txt'){
        @include fonte($second-font, 400, 13px, $color-gray);
        display: block;
        width: calc(100% - 160px);
    }

    

}

.fancybox-slide--html{
    @include flexbox(row, wrap, center, center, center);
}

@include res-max(300px) {
    .myacc_cards {

        .nocards {
            .btn-new {
                &:after {
                    display: none;
                }
            }
        }

        .field {
            @include m('card') {
                @include flex-wrap(wrap);
            }

            #cardBrand {
                padding: 10px 0px;
            }

            @include m('buttons') {
                .btn {
                    width: 100%;
                    margin: 5px 0px;
                }
            }
        }

        .data {
            .fieldbox,
            .infobox {
                max-width: inherit;
                width: 100%;
            }
        }
    }
    .ccv{
        img{
            width: 100%;
        }
        @include e('txt'){
            width: 100%;
            margin-top: 10px;
        }
    }
}
@include res-between(301px, 400px) {
    .myacc_cards {
        .nocards {
            .btn-new {
                &:after {
                    display: none;
                }
            }
        }

        .field {
            @include m('card') {
                @include flex-wrap(wrap);
            }

            #cardBrand {
                padding: 10px 0px;
            }

            @include m('buttons') {
                .btn {
                    width: 100%;
                    margin: 5px 0px;
                }
            }
        }

        .data {

            .fieldbox,
            .infobox {
                max-width: inherit;
                width: 100%;
            }
        }
    }
    .ccv{
        text-align: center;
        @include e('txt'){
            width: 100%;
            margin-top: 10px;
        }
    }
}
@include res-between(401px, 500px) {
   .myacc_cards {
       .field {
           @include m('card') {
               @include flex-wrap(wrap);
           }

           #cardBrand {
               padding: 10px 0px;
           }

           @include m('buttons') {
               .btn {
                   width: 100%;
                   margin: 5px 0px;
               }
           }
       }

       .data {

           .fieldbox,
           .infobox {
               max-width: inherit;
               width: 100%;
           }
       }
   }
}
@include res-between(501px, 600px) {}
@include res-between(601px, 700px) {}
@include res-between(701px, 800px) {}
@include res-between(801px, 900px) {}
@include res-between(901px, 1000px) {}
@include res-min(1001px) {}