.myacc{
    background-color: $body_gray_bg;
    padding-top: 20px;

    > .wrapper{
        @include flexbox(row, wrap, space-between, inherit, flex-start);
        padding-bottom: 30px;

        @media #{$res-break} {
            @include flexbox(row, wrap, center, inherit, flex-start);
        }

    }

    @include e('title'){
        width: 100%;
        margin-bottom: 15px;

        @include e('txt'){
            @include fonte($second-font, 400, 24px, $color-gray-extra-dark);
            margin: 0px;
        }

        @include e('desc'){
            @include fonte($second-font, 400, 12px, $color-gray-extra-dark);
        }

        @include m('two'){
            @include flexbox(row, nowrap, flex-start, center, center);
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/tile_line.jpg");
            background-repeat: repeat-x;
            background-position: center;
            margin-top: 15px;
            

            .myacc__title__txt{
                @include fonte($second-font, 600, 18px, $color-gray-extra-dark);
                background-color: $body_gray_bg;
                padding-right: 10px;
                line-height: inherit;
            }

        }


    }

    @include e('box') {
        @include flexbox(column, nowrap, center, center, center);
        @include transition;
        @include box-sizing;
        @include border-radius;
        background-color: #FFF;
        border: 1px solid $color-gray-light;
        text-align: center;
        padding: 10px;
        height: auto;

        &:after{
            content: "";
            display: block;
            width: 20px;
            height: 4px;
            margin-bottom: 30px;
            margin-top: 20px;
            background-color: $color-gray-dark;
        }


        @include e('title'){
            @include fonte($second-font, 800, 14px, $color-gray);
            margin: 5px 0px;
        }

        @include e('text'){
            @include fonte($second-font, 400, 12px, $color-gray);
            margin: 5px 0px;
            display: block;
        }

        &:hover{
            a{
                color: $color-gray-dark;
            }
            span {
                color: $color-gray;
            }
        }

        @include e('icon'){
            @include flexbox(column, nowrap, center, center, center);
            @include border-radius(100%);
            @include box-sizing;
            background-color: $color-gray-extra-light;
            text-align: center;
            width: 85px;
            height: 85px;
            margin-top: 30px;
            margin-bottom: 20px;


            &:before{
                content: "";
                height: 40px;
                display: block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left;
            }
        }

        &:hover{
            @include box-shadow(0px, 0px, 5px, $color-gray-dark);
        }

       

        @include m('info'){
            .myacc__box__icon:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/meu_cadastro.png?3");
                width: 39px;
            }
        }

        @include m('pass'){
            .myacc__box__icon:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/alterar_senha.png?1");
                width: 34px;
            }
        }

        @include m('adress'){
            .myacc__box__icon:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/meus_enderecos.png?3");
                width: 32px;
            }
        }

        @include m('orders'){
            .myacc__box__icon:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/meus_pedidos.png?1");
                width: 40px;
            }
        }

        @include m('points'){
            .myacc__box__icon:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/super_points.png?1");
                width: 39px;
            }
        }

        @include m('settings'){
            .myacc__box__icon:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/minhas_preferencias.png?1");
                width: 38px;
                height: 30px;           
            }
        }

        @include m('cards'){
            .myacc__box__icon:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/meus_cartoes.png?1");
                width: 44px;
                height: 30px;
            }
        }

    }
    
    @include e('aside'){
        @include box-sizing;
    }

    @include e('wrap'){
        @include box-sizing;
    }    

    @include e('recover'){
        padding: 10px;
    }


    @include res-max(350px){
        @include e('box'){
            width: 100%;
            margin: 5px 0px;
        }
    }

    @include res-between(351px, 450px){
        @include e('box'){
            width: calc(100% / 2 - 10px);
            margin: 5px;
        }
    }

    @include res-between(451px, 550px){
        @include e('box'){
            width: calc(100% / 2 - 10px);
            margin: 5px;
        }
    }

    @include res-between(551px, 650px){
        @include e('box'){
            width: calc(100% / 3 - 10px);
            margin: 5px;
        }
    }

    @include res-between(651px, 750px){
        @include e('box'){
            width: calc(100% / 3 - 10px);
            margin: 5px;
        }
    }

    @include res-between(751px, 850px){
        @include e('box'){
            width: calc(100% / 4 - 10px);
            margin: 5px;
        }
    }

    @include res-between(851px, 1000px){
        @include e('box'){
            width: calc(100% / 5 - 10px);
            margin: 5px;
        }
    }

    @include res-min(1001px){
        @include e('box'){
            width: calc(100% / 7 - 10px);
            max-width: 250px;
            margin: 5px;
        }
    }

}

