.myacc{
    background-color: $body_gray_bg;
    padding-top: 10px;

    > .wrapper{
        @include flexbox(row, wrap, flex-start, inherit, flex-start);
    }

    @include e('title'){
        width: 100%;
    }

    @include e('box') {
        @include flexbox(column, nowrap, center, center, center);
        @include transition;
        @include box-sizing;

        border: 1px solid transparent;

        @media #{$res-xs} {
            width: calc(100% / 2);
            height: 220px;
        }

        @media #{$res-sm} {
            width: calc(100% / 3);
            height: 220px;
        }

        @media #{$res-md} {
            width: calc(100% / 4);
            height: 220px;
        }

        @media #{$res-desk} {
            width: calc(100% / 6);
            height: 193px;
        }

        &:hover{
            background-color: $color-red;
            border-color: $color-red;
            .cat__icon:before{
                background-position: right;
            }

            .cat__desc{
                color: #FFF;
            }
        }

        &:before{
            content: "";
            width: 54px;
            height: 56px;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            margin-bottom: 10px;
        }
        
        &:hover{
            background-color: $color-red;
            border-color: $color-red;
            .cat__icon:before{
                background-position: right;
            }

            .cat__desc{
                color: #FFF;
            }
        }

        @include m('info'){
            &:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/myacc/meu_cadastro.png");
                
            }
        }

    }

}