.myacc_order {

    .box {
        @include border-radius();
        padding: 10px 20px;
        margin: 8px 0px;
        background-color: #FFF;
        border: 1px solid $color-gray-light;

        >div {
            @include flexbox(row, wrap, space-between, center, center);
            @include transition;
            padding: 10px 0px;
        }

        @include e('mid') {
            border-top: 1px solid $color-gray-light;
            border-bottom: 1px solid $color-gray-light;
        }

        @include e('soldby') {
            strong {
                @include fonte($second-font, 600, 14px, $color-gray);
            }

            @include e('name') {
                @include fonte($second-font, 400, 12px, $color-gray);
            }

        }

        @include e('points') {
            span {
                @include flexbox(row, wrap, center, center, center);
                @include fonte($second-font, 400, 13px, $color-green);
                padding-left: 23px;
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;
            }
        }

        @include e('order') {
            @include transition;
            @include box-sizing;
            border-right: 1px solid $color-gray-light;
            padding: 15px 35px 15px 0px;
            width: 40%;

            @include e('desc') {
                @include fonte($second-font, 400, 14px, $color-gray);
                display: block;
                width: 100%;
            }

            @include e('number') {
                @include fonte($second-font, 800, 24px, $color-green);
                text-transform: uppercase;
                display: block;
                margin-bottom: 10px;
            }

            strong {
                @include fonte($second-font, 600, 14px, $color-gray);
            }

            @include e('date') {
                @include fonte($second-font, 400, 14px, $color-gray);
                display: block;
                width: 100%;
            }
        }

        @include e('status') {
            @include transition;
            @include box-sizing;
            padding: 15px 35px 15px 35px;
            width: 60%;

            >div {
                @include flexbox(row, wrap, space-between, center, center);
                width: 100%;
            }

            @include e('desc') {
                @include fonte($second-font, 400, 14px, $color-gray);
                display: block;
                width: 100%;
            }

            @include e('txt') {
                @include fonte($second-font, 800, 24px, $color-gray);
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }

            strong {
                @include fonte($second-font, 600, 14px, $color-gray);
                display: block;
                width: 100%;
                margin-top: 5px;
            }

            @include e('type') {
                @include flexbox(row, wrap, flex-start, center, center);
                @include fonte($second-font, 400, 14px, $color-gray);
                @include box-sizing;
                width: 100%;

                #body_pnlParcels {
                    margin-left: 5px;
                }
            }

            @include e('button') {
                @extend %bt-default;
            }

        }

        @include e('payment') {
            >.box__status__type {
                width: 100%;
                padding-left: 35px;
                background-repeat: no-repeat;
                background-position: center left;
                background-size: 28px;
                height: 30px;
            }

            @include m('card') {
                width: 100%;

                >.box__status__type {
                    @include bgimage('myacc_card.png');
                }
            }

            @include m('boleto') {
                >.box__status__type {
                    @include bgimage('myacc_boleto.png');
                }
            }
        }

        @include e('mail') {
            span {
                @include fonte($second-font, 400, 14px, $color-gray);
            }

            strong {
                @include fonte($second-font, 600, 14px, $color-gray);
            }
        }

        @include m('adship') {
            @include flexbox(row, wrap, flex-start, inherit, center);
            padding: 0px;

            >div {
                @include flexbox(row, nowrap, flex-start, inherit, center);
                @include box-sizing;
                width: 50%;
                padding: 15px;

                strong {
                    @include fonte($second-font, 600, 14px, $color-gray);
                    display: block;
                    width: 100%;
                    margin-bottom: 15px;
                }

                span {
                    @include fonte($second-font, 400, 14px, $color-gray);
                }
            }

            #body_hypTracking {}
        }


        @include e('address') {
            border-right: 1px solid $color-gray-light;

            .box__icon {
                @include bgimage('myacc_address.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 60px;
                height: 55px;
                margin-right: 20px;
            }
        }

        @include e('ship') {
            .box__icon {
                @include bgimage('myacc_ship.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 65px;
                height: 60px;
                margin-right: 20px;
            }
        }

        @include e('cancel') {
            @include flexbox(row, wrap, flex-end, center, center);
            @include box-sizing;
            padding: 0px 10px;
            width: 100%;
        }
    }

    .footer {
        @include flexbox(row, wrap, space-between, center, center);
        @include fonte($second-font, 400, 14px, $color-gray);
        @include box-sizing;
        padding: 10px;
        width: 100%;

        >div:first-of-type {
            @include flexbox(row, wrap, flex-start, center, center);
            @include box-sizing;
        }

        @include e('sep') {
            margin: 0px 10px;
        }

        #body_pnlStoreContact {
            @include flexbox(row, nowrap, flex-start, center, center);
        }

        .footer__mail,
        .footer__phone {
            display: block;
            background-repeat: no-repeat;
            margin-right: 10px;
            padding-left: 25px;
            background-position: center left;
            background-size: 20px;
            height: 20px;
            line-height: 18px;
        }

        @include e('store') {
            font-weight: bold;
        }

        @include e('mail') {
            @include bgimage('myacc_mail.png');
        }

        @include e('phone') {
            @include bgimage('myacc_phone.png');
        }

        @include e('link') {
            @include fonte($second-font, 400, 14px, $color-gray);

            &:hover {
                color: $color-gray-dark;
            }
        }

    }

    .basket {
        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                border-bottom: 1px solid $color-gray-light;
            }

            th,
            td {
                text-align: left;
                padding: 15px;
            }

            tr {
                @include transition;
                border-bottom: 1px dashed $color-gray-light;
            }

            tbody {
                tr:hover {
                    background-color: $color-gray-extra-light;
                }
            }

            th {
                @include fonte($second-font, 800, 14px, $color-gray-dark);
            }

            td {
                @include fonte($second-font, 400, 13px, $color-gray-dark);

                a {
                    @include fonte($second-font, 800, 13px, $color-gray-dark);
                }
            }

        }
    }


    @include res-max(876px) {
        .box--table{
            padding: 0px;
            background: transparent;
            border: 0px;
        }

        .box .basket {
            padding: 0px;
            table{
                
            &,
            thead,
            tbody,
            th,
            td,
            tr {
                @include transition;
                @include box-sizing;
                display: block;
            }

            tbody {
                @include flexbox(row, wrap, space-between, flex-start, flex-start);
            }

            thead{
                border: 0px;
                position: absolute;
                top: -9999px;
                left: -9999px;
                border: 0px;
            }

            tr{
                @include border-radius();
                background-color: #FFF;
                border: 1px solid $color-gray-light;
                margin: 10px 0px;
                width: calc(100% / 2 - 10px);
                &:hover{
                    background-color: #FFF;
                }
            }

            td{
                @include flexbox(row, wrap, space-between, center, center);
                padding: 10px;
                font-size: 12px;
                a{
                    @include box-sizing;
                    padding: 10px;
                    width: 100%;
                    background-color: $color-gray-light;
                }
            }


            td:before {
                @include fonte($second-font, 800, 12px, $color-gray-dark);
                content: attr(data-column);
                padding-right: 15px;
                white-space: nowrap;
                text-align: left;
            }
            }
        }

    }

    @include res-max(300px) {
        .box {
            @include e('soldby') {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }

            @include e('points') {
                text-align: center;

                span {
                    background: none;
                    padding: 0;
                }
            }

            @include e('order') {
                border-bottom: 1px solid $color-gray-light;
                border-right: 0px;
                width: 100%;
                padding: 10px 0px;
                text-align: center;
            }

            @include e('status') {
                width: 100%;
                padding: 10px 0px;
                text-align: center;

                div {
                    width: 100%;
                }

                @include e('type') {
                    text-align: center;
                    margin-top: 10px;
                    padding: 0px;

                }

            }

            @include e('payment') {
                padding: 10px 0px;

                >.box__status__type {
                    @include flex-justify(center);
                    padding: 0px;
                    text-align: center;
                }

                #body_pnlParcels {
                    text-align: center;
                }

                @include m('card') {
                    >.box__status__type {
                        background: none;
                    }
                }

                @include m('boleto') {
                    >.box__status__type {
                        background: none;
                    }
                }
            }

            @include e('mail') {
                text-align: center;
                display: block;
                width: 100%;

                strong {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }

            @include m('adship') {
                @include flex-direction(column);

                .box__address {
                    border-right: 0px;
                    border-bottom: 1px solid $color-gray-light;
                }

                .box__address,
                .box__ship {
                    width: 100%;
                }



            }
        }

        .box .basket table {
            tr{
                width: 100%;
                margin: 10px 0px;
            }
        }

        .footer {
            text-align: center;

            >div {
                @include box-sizing;
                width: 100%;
            }

            @include e('sep') {
                display: none;
            }

            @include e('store') {
                display: block;
                width: 100%;
                text-align: center;
            }

            @include e('mail') {
                margin: 5px 0px;
            }

            @include e('phone') {
                margin: 5px 0px;
            }

            @include e('link') {
                display: block;
                margin: 0px auto;
            }

            #body_pnlStoreContact {
                @include flex-wrap(wrap);
                @include flex-justify(center);
                margin: 0px auto;
            }
        }
    }

    @include res-between(301px, 400px) {
        .box {
            @include e('soldby') {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }

            @include e('points') {
                text-align: center;

                span {
                    background: none;
                    padding: 0;
                }
            }

            @include e('order') {
                border-bottom: 1px solid $color-gray-light;
                border-right: 0px;
                width: 100%;
                padding: 10px 0px;
                text-align: center;
            }

            @include e('status') {
                width: 100%;
                padding: 10px 0px;
                text-align: center;

                div {
                    width: 100%;
                }

                @include e('type') {
                    text-align: left;
                }

                #body_pnlParcels {
                    text-align: left;
                    margin-left: 0px;
                }
            }

            @include e('payment') {
                padding: 10px 0px;

                >.box__status__type {
                    @include flex-justify(center);
                    padding: 0px;
                    text-align: center;
                }

                #body_pnlParcels {
                    text-align: center;
                }

                @include m('card') {
                    >.box__status__type {
                        background: none;
                    }
                }

                @include m('boleto') {
                    >.box__status__type {
                        background: none;
                    }
                }
            }

            @include e('mail') {
                text-align: center;
                display: block;
                width: 100%;

                strong {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }

            @include m('adship') {
                @include flex-direction(column);

                .box__address {
                    border-right: 0px;
                    border-bottom: 1px solid $color-gray-light;
                }

                .box__address,
                .box__ship {
                    width: 100%;
                }
            }

        }

        .box .basket table {
            tr{
                width: 100%;
                margin: 10px 0px;
            }
        }

        .footer {
            text-align: center;

            >div {
                @include box-sizing;
                width: 100%;
            }

            @include e('sep') {
                display: none;
            }

            @include e('store') {
                display: block;
                width: 100%;
                text-align: center;
            }

            @include e('mail') {
                margin: 5px 0px;
            }

            @include e('phone') {
                margin: 5px 0px;
            }

            @include e('link') {
                display: block;
                margin: 0px auto;
            }

            #body_pnlStoreContact {
                @include flex-wrap(wrap);
                @include flex-justify(center);
                margin: 0px auto;
            }
        }
    }

    @include res-between(401px, 500px) {
        .box {
            @include e('soldby') {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }

            @include e('points') {
                text-align: center;
                display: block;
                width: 100%;

                span {
                    background: none;
                    padding: 0;
                }
            }

            @include e('order') {
                border-bottom: 1px solid $color-gray-light;
                border-right: 0px;
                width: 100%;
                padding: 10px 0px;
                text-align: center;
            }

            @include e('status') {
                width: 100%;
                padding: 10px 0px;
                text-align: center;

                div {
                    width: 100%;
                }
            }

            @include e('payment') {
                padding: 10px 0px;

                >.box__status__type {
                    @include flex-justify(center);
                    padding: 0px;
                    text-align: center;
                }

                #body_pnlParcels {
                    text-align: center;
                }

                @include m('card') {
                    >.box__status__type {
                        background: none;
                    }
                }

                @include m('boleto') {
                    >.box__status__type {
                        background: none;
                    }
                }
            }

            @include e('mail') {
                text-align: center;
                display: block;
                width: 100%;

                strong {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }

            @include m('adship') {
                @include flex-direction(column);

                .box__address {
                    border-right: 0px;
                    border-bottom: 1px solid $color-gray-light;
                }

                .box__address,
                .box__ship {
                    width: 100%;
                }
            }
        }

        .box .basket table {
            tr{
                width: 100%;
                margin: 10px 0px;
            }
        }

        .footer {
            text-align: center;

            >div {
                @include box-sizing;
                width: 100%;
            }

            @include e('sep') {
                display: none;
            }

            @include e('store') {
                display: block;
                width: 100%;
                text-align: center;
            }

            @include e('mail') {
                margin: 5px 0px;
            }

            @include e('phone') {
                margin: 5px 0px;
            }

            @include e('link') {
                display: block;
                margin: 0px auto;
            }

            #body_pnlStoreContact {
                @include flex-wrap(wrap);
                @include flex-justify(center);
                margin: 0px auto;
            }
        }
    }

    @include res-between(501px, 600px) {
        .box {
            @include e('soldby') {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }

            @include e('points') {
                text-align: center;
                display: block;
                width: 100%;

                span {
                    background: none;
                    padding: 0;
                }
            }

            @include e('order') {
                border-bottom: 1px solid $color-gray-light;
                border-right: 0px;
                width: 100%;
                padding: 10px 0px;
                text-align: center;
            }

            @include e('status') {
                width: 100%;
                padding: 10px 0px;
                text-align: center;

                div {
                    width: 100%;
                }

                @include e('button') {
                    margin: 10px auto;
                }

            }

            @include e('payment') {
                padding: 10px 0px;

                >.box__status__type {
                    @include flex-justify(center);
                    padding: 0px;
                    text-align: center;
                }

                #body_pnlParcels {
                    text-align: center;
                }

                @include m('card') {
                    >.box__status__type {
                        background: none;
                    }
                }

                @include m('boleto') {
                    >.box__status__type {
                        background: none;
                    }
                }
            }

            @include e('mail') {
                text-align: center;
                display: block;
                width: 100%;

                strong {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    @include res-between(601px, 700px) {
        .box {

            @include e('order') {
                width: 50%;
                padding: 15px;
            }

            @include e('status') {
                width: 50%;
                padding: 15px;
            }

            @include e('payment') {

                #body_pnlParcels {
                    margin-left: 0px;
                }

            }

        }
    }

    @include res-between(701px, 800px) {
        .box {

            @include e('order') {
                width: 50%;
                padding: 15px;
            }

            @include e('status') {
                width: 50%;
                padding: 15px;
            }

        }
    }

    @include res-between(801px, 900px) {}

    @include res-between(901px, 1000px) {}

    @include res-min(1001px) {}

}