
.register{
    .wrapper{
        @include flexbox(row, wrap, space-around, inherit, flex-start);
        padding-bottom: 40px;
    }
    .actions{
        @include flexbox(row, nowrap, flex-end, flex-start, flex-start);
        width: 100%;
        padding: 0px 10px;
    }
    .btn{
        @extend %bt-default;
    }

    @include e('aside'){
        h2{
            @include fonte($second-font, 800, 16px, $color-gray-extra-dark);
            display: block;
            margin-bottom: 5px;
        }
        h3{
            @include fonte($second-font, 800, 16px, $color-gray-extra-dark);
            display: block;
            margin-bottom: 5px;
        }
        h4{
            @include fonte($second-font, 800, 14px, $color-gray-extra-dark);
            display: block;
            margin-bottom: 5px;
        }
        p{
            @include fonte($second-font, 400, 12px, $color-gray-extra-dark);
            @include box-sizing; 
            padding-left: 10px;
        }
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
    }

}


