.nrk_basket{
    background-color: $body_gray_bg;

    #breadcrumbs{
        display: block;
    }

    .wrapper{
        @include flexbox(row, wrap, space-between, inherit, center);
        overflow: hidden;
    }

    .noprod {
        @include flexbox(row, wrap, center, center, center);
        @include box-sizing;
        border: 1px solid $color-gray-light;
        padding: 20px;
        margin: 20px auto;
        text-align: center;
        background-color: #FFF;

        img{
            max-width: 70px;
        }

        p{
            @include fonte($second-font, 400, 24px, $color-gray);
            text-align: center;
            display: block;
            width: 100%;
        }
        
    }

    .check__aside{
        @include box-sizing;
        padding-left: 30px;
        position: relative;
    }

    .bkt_aside{
        min-width: 260px;
        &.fixed{
            top: 60px;
            position: fixed;
        }
        &.bottom{
            position: absolute;
            bottom: 30px;
            top: auto;
        }
    }

    .bkt_store{
        @include box-sizing;
        width: 100%;
        padding: 20px;
        background-color: #FFF;
        margin-bottom: 15px;

        @include e('header'){
            @include flexbox(row, wrap, space-between, flex-start,  center);
            border-bottom: 1px solid $color-gray-light;
            padding-bottom: 15px;
        }

        @include e('name'){
            strong {
                @include fonte($second-font, 600, 14px, $color-gray-dark);
            }
            span{
                @include fonte($second-font, 400, 14px, $color-gray-dark);
            }
        }

        @include e('points'){
            span{
                @include flexbox(row, nowrap, flex-start, center, center);
                @include fonte($second-font, 400, 13px, $color-green);
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
                padding-left: 25px;
                margin-right: 10px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;
            }
        }

    }

    .bkt_prodlist{
        width: 100%;
    }

    .bkt_prod{

        td{
            @include box-sizing;
            border-bottom: 1px dashed $color-gray-light;
            padding: 15px;
            border-collapse: collapse;
        }

        &:last-of-type{
            td{
                border-bottom: none;
            }    
        }

        @include e('photo'){
            @include e('img'){
                max-width: 65px;
                border: 1px solid $color-gray-light;
                height: auto;
            }
        }

        @include e('info'){
            max-width: 300px;
            @include e('name'){
                @include fonte($second-font, 400, 13px, $color-gray-dark);
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }

            @include e('code'){
                @include fonte($second-font, 400, 12px, $color-gray-dark);
            }
        }

        @include e('title'){
            @include fonte($second-font, 400, 13px, $color-gray-dark);
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }


        @include e('qtd'){
            > div{
                @include flexbox(row, nowrap, center, center, center);
            }

            
            input{
                @include fonte($second-font, 600, 13px, $color-gray-dark);
                width: 40px;
                text-align: center;
                border: 0px;
            }

            a{
                @include flexbox(row, nowrap, center, center, center);
                font-size: 0;
                width: 22px;
                height: 22px;
                &:before{
                    @include set-icon($fa-var-search, 18px, 900, $color-gray);
                }
                
                &.plus{
                    &:before{
                        content: "\f055";
                    }
                }

                &.minus{
                    &:before{
                        content: "\f056";
                    }
                }

            }
        }

        @include e('val'){
            //@include flexbox(column, nowrap, space-between, center, center);
            position: relative;
            text-align: right;
            span{
                text-align: right;
            }

            @include e('price'){
                @include fonte($second-font, 400, 18px, $color-gray-dark);
                display: block;
                margin-top: 10px;
                text-align: right;
            }

        }

        @include e('unit'){
            span{
                text-align: right;
            }
        }

        @include e('remove'){
            vertical-align: middle;
            text-align: center;
        }

        @include e('del'){
            font-size: 0;
            &:before{
                @include set-icon($fa-var-times, 18px, 900, $color-gray-light);
                content: "\f00d";
            }
        }

    }

    .line_gray{
        width: 100%;
        height: 1px;
        background-color: $color-gray-light;
        display: block;
        margin: 22px 0px;
    }

    .line_gray_dashed{
        width: 100%;
        height: 0px;
        border-bottom: 1px dashed $color-gray-light;
        display: block;
        margin: 22px 0px;
    }

    .bkt_resume,
    .bkt_coupon{
        @include flexbox(row, wrap, flex-start, center, center);
        
        @include e('icon'){
            max-width: 20px;
            height: auto;
            margin-right: 10px;
        }

        @include e('title'){
            @include fonte($second-font, 600, 18px, $color-gray);
        }

        @include e('qtd'){
            @include fonte($second-font, 400, 14px, $color-gray);
            margin-left: 5px;
        }
    }

    .bkt_resume{
        @include flex-align-itens(flex-end);
    }

    .bkt_coupon{
        @include e('cont'){
            @include flexbox(row, nowrap, flex-start, center, center);
            width: 100%;
        }
        @include e('act'){
            @include transition;
            color:  $color-gray;
            margin-left: auto;
            margin-right: 5px;
            font-size: 23px;
            cursor: pointer;
            &.active{
                @include rotate(-180);
            }
        }

        @include e('del'){
            @include transition;
            color:  $color-gray;
            margin-left: auto;
            margin-right: 5px;
            font-size: 23px;
            cursor: pointer;
        }

        @include e('icon'){
            max-width: 30px;
        }

        @include e('form'){
            @include flexbox(row, wrap, space-between, center, center);
            margin-top: 10px;  
        }

        @include e('msg'){
            @include fonte($second-font, 400, 14px, $color-gray);
            padding: 15px 5px;
            width: 100%;
        }

        @include e('input'){
            @include box-sizing;
            width: 65%;
            height: 40px;
            border: 1px solid $color-gray-light;
            padding: 10px;
            margin: 0;
        }
        
        @include e('bt'){
            @include box-sizing;
            @include radiustl(0);
            @include radiusbl(0);
            @extend %bt-default;
            width: 35%;
            height: 40px;
            margin: 0;
        }
    }

    .bkt_ship{
        @include flexbox(row, wrap, flex-start, center, center);

        @include e('icon'){
            max-width: 30px;
            height: auto;
            margin-right: 10px;
        }

        @include e('title'){
            @include fonte($second-font, 400, 14px, $color-gray);
        }
    }

     
    .bkt_total{
        @include e('val') {
            @include flexbox(row, wrap, space-between, center, center);
            @include fonte($second-font, 600, 24px, $color-green);
        }
        @include e('discount') {
            @include flexbox(row, wrap, flex-end, center, center);
            @include fonte($second-font, 400, 13px, $color-green);
            margin: 5px 0px;
        }
        @include e('info') {
            @include flexbox(row, wrap, flex-end, center, center);
            @include fonte($second-font, 400, 13px, $color-gray);
        }
        @include e('bt'){
            @extend %bt-default;
            width: 100%;
            padding: 15px 0px;
            background-color: $color-green;
            &:hover{
                background-color: $color-green-dark;
            }
        }
    }

    .bkt_totalpoints {
        @include e('txt') {
            @include flexbox(row, nowrap, flex-start, center, center);
            @include fonte($second-font, 400, 13px, $color-green);
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
            padding-left: 25px;
            margin-right: 10px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
    
    .bkt_action{
        @include flexbox(row, wrap, space-between, center, center);
        @include e('link'){
            @include flexbox(row, wrap, flex-start, center, center);
            @include fonte($second-font, 400, 14px, $color-gray);
            @include bgimage('icon_arrow_circle.png');
            background-repeat: no-repeat;
            background-position: center left;
            padding-left: 38px;
            height: 30px;
        }
    }



    //Media specific for table responsive
    @include res-max(800px) {
        .bkt_prodlist{
            @include box-sizing;
            width: 100%;

            tbody{
                @include flexbox(row, wrap, flex-start, inherit, flex-start);
            }

            td {
                padding: 10px;
                width: 100%;
                border: 0;
            }

            .bkt_prod{
                @include flexbox(column, wrap, flex-start, center, center);
                @include box-sizing;
                background-color: #fafafa;
                border: 1px solid $color-gray-light;
                margin: 5px;

                @include e('title'){
                    font-size: 16px;
                    width: 100%;
                    text-align: center;
                }

                @include e('info'){
                    @include box-sizing;
                    @include order(1);
                    max-width: unset;
                    @include e('name'){
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                @include e('photo'){
                    @include order(2);
                    text-align: center;
                    @include e('img'){
                        width: 100%;
                        max-width: 300px;
                        height: auto;
                        margin: 0 auto;
                    }
                }

                @include e('qtd'){
                    @include order(3);
                    input{
                        font-size: 25px;
                        width: 70px;
                        font-weight: 400;
                        margin: 0px 15px;
                    }
                    a:before{
                        font-size: 25px;
                    }
                }

                @include e('unit'){
                    @include order(4);
                }

                @include e('val'){
                    @include order(5);
                    @include e('price'){
                        text-align: center;
                    }
                }

                @include e('remove'){
                    @include order(6);
                    background-color: #efefef;
                    margin-top: auto;
                }

                @include e('del'){
                    &:before{
                        color: $color-gray-dark;
                    }
                }

            }

        }
        .check__aside,
        .check__wrap{
            width: 100%;
            margin: 10px 0px;
            padding: 0;
        }

        .check__aside{
            padding: 10px;
        }

        .bkt_store{
            padding: 5px;
            @include e('header'){
                border: 0px;
            }
        }
    }

    @include res-max(300px) {
        .bkt_store{
            @include e('points'){
                margin: 5px 0px;
            }
        }
        .bkt_prodlist{
            .bkt_prod{
                width: 100%;
            }
        }
    }
    @include res-between(301px, 400px) {
        .bkt_store{
            @include e('points'){
                margin: 5px 0px;
            }
        }
        .bkt_prodlist{
            .bkt_prod{
                width: 100%;
            }
        }
    }
    @include res-between(401px, 500px) {
        .bkt_prodlist{
            .bkt_prod{
                width: 100%;
            }
        }
    }
    @include res-between(501px, 600px) {
        .bkt_prodlist{
            .bkt_prod{
                width: calc(100% / 2 - 10px);
            }
        }
    }
    @include res-between(601px, 700px) {
        .bkt_prodlist{
            .bkt_prod{
                width: calc(100% / 2 - 10px);
            }
        }
    }
    @include res-between(701px, 800px) {
        .bkt_prodlist{
            .bkt_prod{
                width: calc(100% / 3 - 10px);
            }
        }
    }
    @include res-between(801px, 900px) {
        .check__aside,
        .check__wrap{
            width: 100%;
        }
    }
    @include res-between(901px, 1000px) {
        .check__aside,
        .check__wrap{
            width: 100%;
        }
    }
    @include res-min(1001px) {}

}