
.dn{
    display: none;
}

.rkbt{
    @include box-sizing;
    @include border-radius(50px);
    @include transition;
    padding: 5px 25px;
    border: 2px solid transparent;
    
    &:hover{
        text-decoration: none;
    }

    @include m('one'){
        @include fonte($second-font, bold, 14px, $color-red);
        border-color: $color-red;  

        &:hover{
            background-color: $color-red;
            color: #FFF;
        } 
    }

    @include m('two'){
        @include fonte($second-font, 400, 14px, #FFF);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf0000+0,bf0000+50,da3600+100 */
        background: rgb(191,0,0); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(191,0,0,1) 0%, rgba(191,0,0,1) 50%, rgba(218,54,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(191,0,0,1) 0%,rgba(191,0,0,1) 50%,rgba(218,54,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(191,0,0,1) 0%,rgba(191,0,0,1) 50%,rgba(218,54,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0000', endColorstr='#da3600',GradientType=1 ); /* IE6-9 */
        &:hover{
            @include opacity(.6);
        }
    }
}

.onlydk{
    @media (max-width: 767px){
        display: none;
    }
}

.onlymb{
    @media (min-width: 768px) {
        display: none;
    }
}

