
.dn{
    display: none !important;
}

.rk-hide {
    display: none !important;
}

.rk-invisible {
    visibility: hidden !important;
}

%boxshadow {
    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.479));
}