
.dn{
    display: none !important;
}

.rk-hide {
    display: none !important;
}

.rk-invisible {
    visibility: hidden !important;
}

%boxshadow {
    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.479));
}

%bt-default,
.bt-default{
    @include fonte($second-font, 800, 14px, #FFF);
    @include box-sizing;
    @include border-radius(3px);
    @include center-cont;
    @include transition;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: $color-gray-dark;
    width: max-content;
    &:hover{
        background-color: $color-gray-extra-dark;
    }
    
    @media #{$res-xs} {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    @include m('red'){
        background-color: $color-red;
        &:hover{
            background-color: $color-red-dark;
        }
    }

}