.allcats {
    @extend %boxshadow;
    background-color: #FFF;
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;

}

.allcat {
    @include flexbox(row, nowrap, flex-start, inherit, flex-start);
    @include box-sizing;
    
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0px;

    @media #{$res-break} {
        padding: 0px;
    }

    @include e("item") {
        @include transition;
        @include box-sizing;
        @include transition;
        width: calc(100% / 11);
        height: 80px;

        @include e("item") {
            margin-bottom: 5px;            
        }

        @media #{$res-desk} {
            &:hover {
                background-color: $color-gray-extra-light;
                
                > .subcat {
                    display: flex;
                }
            }
        }

        @media #{$res-break} {
            &.active {
                background-color: $color-red;

                .allcat__link {
                    color: #FFF;
                }

                &:after {
                    @include rotate(90);
                    color: #FFF;
                }

                > .subcat {
                    display: flex;
                }
            }
        }

        /*
        &:after {
            @include set-icon($fa-var-chevron-right, 14px, 900, #cfcfcf);
            @include transition;
            @include order(3);
            margin-left: auto;
            margin-right: 5px;
        }
        */

       

    }

    @include e("link") {
        @include flexbox(column, wrap, flex-start, center, center);
        @include fonte($second-font, 400, 12px, $color-gray-dark);
        @include transition;
        text-align: center;
        padding: 10px;
        padding-bottom: 15px;
        height: auto;

        &:before{
            content: "";
            @include transition;
            width: 32px;
            height: 32px;
            color: $color-gray-dark;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media #{$res-break} {
                width: 35px;
                height: 35px;
            }
        }

        @media #{$res-break} {
            font-size: 16px;
        }
    }
}

.subcat {
    @extend %boxshadow;
    @include box-sizing;
    position: absolute;
    background-color: #FFF;
    left: 50%;
    top: 80px;
    transform: translatex(-50%);
    display: none;
    height: auto;
    width: 100%;
    background-color: $color-gray-extra-light;
    padding: 10px;
    width: calc(1200px - 40px);

    @include e('cont'){
        @include flexbox(row, wrap, space-between, flex-start, flex-start);
        @include animate(fadeIn, 0s);
        @include box-sizing;
        @include order(4);
        width: 100%;
        height: auto;
        background-color: #FFF;
        padding: 10px;
    }

    @include e("title") {
        @include box-sizing;

        display: block;
        width: 100%;
        border-bottom: 1px solid $color-gray-light;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }


    @include e("menu") {
        @include fonte($second-font, bold, 16px, $color-red);
        @include box-sizing;

        padding: 15px;
        width: calc(100% - 240px);
    }


    @include e("imglink") {
        margin-left: auto;
        display: flex;
    }


    @include e("itens") {
        list-style: none;
        padding: 0px;
        margin: 0px 0px 20px 0px;
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
    }


    @include e("item") {
        margin-bottom: 5px;
    }


    @include e("link") {
        @include fonte($second-font, normal, 14px, $color-gray);
        @include transition;

        &:hover {
            color: $color-red;
        }

        @include m("first") {
            color: $color-red;
            font-weight: bold;
        }
    }


    @media #{$res-break} {
        @include reset-positions;

        width: 100%;
        border-width: 2px;

        @include e("menu") {
            width: 100%;
        }


        @include e("itens") {
            padding: 0px;
            margin: 0px 0px 20px 0px;
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
            -moz-column-gap: 0px;
            -webkit-column-gap: 0px;
            column-gap: 0px;
        }


        @include e("item") {
            width: 100%;
        }
    }
}


@for $i from 1 through 11 {
    .allcat__item:nth-of-type(#{$i}) > a{
        &:before{
            background-image: url('//resources.rakuten.com.br/SD/sd/rk2019/img/menu_icons/#{$i}.png');
        }

        /*
            &.active:before{
                background-image: url('//resources.rakuten.com.br/SD/sd/rk2019/img/menu_icons/#{$i}-alt.png');
            }

            
            @media #{$res-desk} {
                &:hover:before{
                    background-image: url('//resources.rakuten.com.br/SD/sd/rk2019/img/menu_icons/#{$i}-alt.png');
                }
            }
        */
    }
}