.nrk_header {
    @include e("middle") {
        @include transition;

        padding-bottom: 10px;

        > .wrapper {
            @include flexbox(row, wrap, space-between, center, center);
            @media #{$res-desk} {
                height: 80px;
            }
        }

        @media #{$res-break} {
            background-color: $color-red;
            padding: 0px;

            > .wrapper {
                padding: 0px;
            }
        }
    }


    @include e("mobmenu") {
        @include center-cont;
        @include box-sizing;
        @include transition;
        @include border-radius(5px);

        cursor: pointer;
        display: none;
        border: 0px solid #FFF;
        padding: 5px;
        width: 30px;
        height: 35px;
        left: 0;

        @media #{$res-break} {
            display: flex;
        }

        > span {
            width: 100%;
            height: 2px;
            background-color: #FFF;
            display: block;
            margin: 4px 0px;
        }

        &:before,
        &:after {
            @include transition;

            content: "";
            width: 100%;
            height: 2px;
            display: block;
            background-color: #FFF;
        }

        &.active {
            background-color: $color-red;

            @include animate(bounceInRight, 0s);

            > span {
                @include opacity(0);

                height: 2px;
                width: 20px;
            }

            &:before,
            &:after {
                background-color: #FFF;
                position: absolute;
                height: 2px;
                width: 20px;
            }

            &:before {
                @include rotate(45);
            }

            &:after {
                @include rotate(-45);
            }

            @media #{$res-break} {
                & + .nrk_header__logo {
                    @include transition(null, 0s);

                    margin-left: 35px;
                }
            }
        }

        @media #{$res-break} {
            &.active {
                @include radiustl(0);
                @include radiusbl(0);
                @include transition;

                z-index: 11;
                position: fixed;
                left: 85%;
                top: 0px;

                & + .user {
                    background-color: $color-gray-light;
                    right: 0;
                    width: 85%;
                }
            }
        }
    }


    @include e("logo") {
        @include order(1);

        width: 100%;
        max-width: 150px;
        display: block;
        height: 55px;

        @media #{$res-break} {
            width: auto;
            height: 25px;
        }

        @include e("img") {
            @include transition;

            width: 100%;
            height: auto;

            .st0 {
                @include transition;
            }

            @media #{$res-break} {
                width: 90px;
                margin-left: 10px;

                .st0 {
                    fill: #FFF;
                }
            }
        }
    }


    @include e("search") {
        @include order(2);
        @include flexbox(row, nowrap, center, center, center);
        @include box-sizing;
        @include transition;

        position: relative;
        width: 100%;
        max-width: 580px;

        @media #{$res-break} {
            @include order(5);

            max-width: inherit;
            margin-bottom: 10px;
            padding: 0px 10px;
            display: none;

            @include order(7);
        }

        &.active {
            display: flex;

            @include animate(fadeIn, 0s);
        }

        @include e("field") {
            @include box-sizing;
            @include radiustl;
            @include radiusbl;

            z-index: 1;
            width: calc(100% - 36px);
            background-color: #f3f3f3;
            border: 0px;
            height: 36px;
            padding: 5px 15px;
            font-size: 12px;
            -webkit-box-shadow: inset 1px 1px 2px 0px rgba(227, 227, 227, 1);
            -moz-box-shadow: inset 1px 1px 2px 0px rgba(227, 227, 227, 1);
            box-shadow: inset 1px 1px 2px 0px rgba(227, 227, 227, 1);
        }


        @include e("bt") {
            @include flexbox(row, nowrap, center, center, center);
            @include box-sizing;
            @include radiustr;
            @include radiusbr;

            z-index: 1;
            width: 36px;
            height: 36px;
            background-color: #f3f3f3;
            -webkit-box-shadow: inset -2px 1px 2px 0px rgba(227, 227, 227, 1);
            -moz-box-shadow: inset -2px 1px 2px 0px rgba(227, 227, 227, 1);
            box-shadow: inset -2px 1px 2px 0px rgba(227, 227, 227, 1);

            &:before {
                @include set-icon($fa-var-search, 18px, 900, $color-gray);
            }

            &:hover::before {
                @include animate(bounceIn, 0s);
            }

            @media #{$res-break} {
                &:before {
                    @include set-icon($fa-var-arrow-right, 20px, 900, $color-gray);
                }
            }
        }


        .rk-autocomplete {
            @include box-sizing;
            @include radiusbl;
            @include radiusbr;

            position: absolute;
            width: 100%;
            top: 18px;
            background-color: $color-gray-extra-light;
            padding: 0px;
            -webkit-box-shadow: inset 1px 1px 2px 0px #e3e3e3;
            -moz-box-shadow: inset 1px 1px 2px 0px #e3e3e3;
            box-shadow: inset 1px 1px 2px 0px #d6d6d6;
            display: block;
            max-height: 300px;
            overflow: hidden;
            overflow-y: auto;

            @media #{$res-break} {
                width: calc(100% - 20px);
            }

            > li {
                @include transition;

                list-style: none;
                padding: 10px 20px;

                &:hover {
                    background-color: $color-gray-light;
                }

                a {
                    @include fonte($second-font, 400, 14px, $color-gray-dark);

                    width: 100%;
                    display: block;
                }
            }
        }
    }


    @include e("mobsearch") {
        @include order(3);

        display: none;
        margin-left: auto;
        margin-right: 10px;

        @media #{$res-break} {
            display: flex;
        }

        @include e("bt") {
            cursor: pointer;

            &:before {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/searchmob_plus.png");
                background-size: cover;
                content: "";
                width: 20px;
                height: 20px;
                display: block;
            }

            &:hover {
                .fas {
                    @include animate(bounceIn, 0s);
                }
            }

            &.active {
                &:before {
                    background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/searchmob_minus.png");
                }
            }
        }
    }


    @include e("cart") {
        @include order(5);
        @include transition;
        @include flexbox(row, nowrap, center, center, center);
        position: relative;

        @media #{$res-desk}{
            padding: 7px 0px;
        }
        
       

        &:hover {
            // .minicar{
            //     @include animate(fadeIn, 0s);
            //     display: block;
            // }
            .nrk_header__cart__icon {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/cart-alt.png");

                @media #{$res-break} {
                    background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/cart-mob.png");
                }
            }
        }

        @include e("icon") {
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/cart.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            width: 45px;
            height: 45px;
            display: block;
            margin-right: 10px;

            @media #{$res-break} {
                width: 25px;
                height: 25px;
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/cart-mob.png");
            }
        }


        @include e("bt") {
            @include flexbox(row, nowrap, center, center, center);

            width: 40px;
            height: 40px;

            @media #{$res-break} {
                margin-right: 15px;
            }
        }


        @include e("txt") {
            @include fonte($second-font, 400, 12px, $color-gray-dark);

            @media #{$res-break} {
                @include flexbox(row, nowrap, center, center, center);
                @include border-radius(50px);

                background-color: $color-red-dark;
                color: #FFF;
                font-weight: bold;
                width: 22px;
                height: 22px;
                position: absolute;
                right: 9px;
                top: 12px;

                @include e("desc") {
                    display: none;
                }
            }


            @include e("num") {
                margin-right: 5px;

                @media #{$res-break} {
                    margin: 0px;
                }
            }
        }
    }

    
    &.active {
        @media #{$res-desk} {
            .nrk_header__top,
            .nrk_header__middle > .wrapper {
                display: none;
            }
        

            .nrk_menu {
                position: fixed;
                top: 0;
                z-index: 99999999;
            }
        }

        .nrk_menu .wrapper {
            .nrk_menu__logo {
                @include animate(fadeInLeft, 0s);

                display: block !important;
            }
        }

        @media #{$res-break} {
            position: fixed;
            width: 100%;
            z-index: 9999;
            .wrapper{
                display: flex;
            }
        }
    }

 
}
