.header {
    @include e("middle") {
        @include transition;
        padding-bottom: 10px;

        > .wrapper {
            @include flexbox(row, wrap, space-between, center, center);
            padding: 10px 0px;
        }

        @media #{$res-break} {
            background-color: $color-red;
            overflow: hidden;
            padding: 0px;
            > .wrapper {
                padding: 0px;
            }
        }

      
    }


    @include e("mobmenu") {
        @include center-cont;
        @include box-sizing;
        @include transition;
        @include border-radius(5px);
        cursor: pointer;
        display: none;
        border: 0px solid #FFF;
        padding: 5px;
        width: 35px;
        height: 35px;
        left: 0;

        @media #{$res-break} {
            display: flex;
        }

        > span {
            width: 100%;
            height: 3px;
            background-color: #FFF;
            display: block;
            margin: 5px 0px;
        }

        &:before,
        &:after {
            @include transition;

            content: "";
            width: 100%;
            height: 3px;
            display: block;
            background-color: #FFF;
        }

        &.active {
            background-color: $color-red;
            @include animate(bounceInRight, 0s);

            > span {
                @include opacity(0);

                height: 2px;
                width: 20px;
            }

            &:before,
            &:after {
                background-color: #FFF;
                position: absolute;
                height: 2px;
                width: 20px;
                margin-left: 3px;
            }

            &:before {
                @include rotate(45);
            }

            &:after {
                @include rotate(-45);
            }

            @media #{$res-break} {
                & + .header__logo {
                    @include transition(null, 0s);

                    margin-left: 35px;
                }
            }
        }

        @media #{$res-break} {
            &.active {
                @include radiustl(0);
                @include radiusbl(0);
                @include transition;
                z-index: 11;
                position: fixed;
                left: 85%;
                top: 0px;

                & + .user {
                    background-color: $color-gray-light;
                    right: 0;
                    width: 85%;
                }
            }
        }
    }


    @include e("logo") {
        @include order(1);
        width: 100%;
        max-width: 150px;
        display: block;
        height: 55px;

        @media #{$res-break} {
            width: auto;
            height: 25px;
        }

        @include e("img") {
            @include transition;

            width: 100%;
            height: auto;

            .st0 {
                @include transition;
            }

            @media #{$res-break} {
                width: 90px;
                margin-left: 10px;

                .st0 {
                    fill: #FFF;
                }
            }
        }
    }


    @include e("search") {
        @include order(2);
        @include flexbox(row, nowrap, center, center, center);
        @include box-sizing;
        @include transition;

        width: 100%;
        max-width: 650px;

        @media #{$res-break} {
            @include order(5);

            max-width: inherit;
            margin-bottom: 10px;
            padding: 0px 10px;
            display: none;

            @include order(7);
        }


        &.active {
            display: flex;

            @include animate(fadeIn, 0s);
        }

        @include e("field") {
            @include box-sizing;
            @include radiustl;
            @include radiusbl;

            width: calc(100% - 36px);
            background-color: #f3f3f3;
            border: 0px;
            height: 36px;
            padding: 5px 15px;
            font-size: 12px;
            -webkit-box-shadow: inset 1px 1px 2px 0px rgba(227, 227, 227, 1);
            -moz-box-shadow: inset 1px 1px 2px 0px rgba(227, 227, 227, 1);
            box-shadow: inset 1px 1px 2px 0px rgba(227, 227, 227, 1);
        }


        @include e("bt") {
            @include flexbox(row, nowrap, center, center, center);
            @include box-sizing;
            @include radiustr;
            @include radiusbr;

            width: 36px;
            height: 36px;
            background-color: #f3f3f3;
            -webkit-box-shadow: inset -2px 1px 2px 0px rgba(227, 227, 227, 1);
            -moz-box-shadow: inset -2px 1px 2px 0px rgba(227, 227, 227, 1);
            box-shadow: inset -2px 1px 2px 0px rgba(227, 227, 227, 1);

            &:before {
                @include set-icon($fa-var-search, 18px, 900, $color-gray);
            }

            &:hover::before {
                @include animate(bounceIn, 0s);
            }

            @media #{$res-break} {
                &:before {
                    @include set-icon($fa-var-arrow-right, 20px, 900, $color-gray);
                }
            }
        }
    }


    @include e("mobsearch") {
        @include order(3);

        display: none;
        margin-left: auto;
        margin-right: 10px;

        @media #{$res-break} {
            display: flex;
        }

        @include e("bt") {
            cursor: pointer;

            &:before {
                @include set-icon($fa-var-search-plus, 25px, 900, #FFF);
            }

            &:hover {
                .fas {
                    @include animate(bounceIn, 0s);
                }
            }

            &.active {
                &:before {
                    @include set-icon($fa-var-search-minus, 25px, 900, #FFF);
                }
            }
        }
    }


    @include e("user") {
        @include flexbox(row, nowrap, center, center, center);
        @include order(4);
        @include transition;
        position: relative;
        padding: 15px 0px;

        @include e("icon") {
            background-image: url('../../dist/img/header_icons/user.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
            display: block;
            margin-right: 10px;
        }

        @media #{$res-break} {
            display: none;
        }

        @include e("link") {
            @include fonte($second-font, 400, 14px, $color-gray-dark);
            @include transition;
            &:hover {
                color: $color-red;
            }
        }

        @include e("txt") {
            @include fonte($second-font, 400, 14px, $color-gray-dark);
        }


        &:hover{
            .header__user__icon,
            .header__user__link,
            .header__user__txt {
                color: $color-red;
            }

            .subuser{
                display: block;
                @include animate(fadeIn, 0s);
            }

            .header__user__icon{
                background-image: url('../../dist/img/header_icons/user-alt.png');
            }
        }

    }


    @include e("cart") {
        @include order(5);
        @include transition;
        @include flexbox(row, nowrap, center, center, center);
        padding: 7px 0px;
        position: relative;

        &:hover{
            .minicar{
                @include animate(fadeIn, 0s);
                display: block;
            }
            .header__cart__icon{
                background-image: url('../../dist/img/header_icons/cart-alt.png');
                @media #{$res-break} {
                    background-image: url('../../dist/img/header_icons/cart-mob.png');
                }
            }
        }

        @include e("icon") {
            background-image: url('../../dist/img/header_icons/cart.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            width: 45px;
            height: 45px;
            display: block;
            margin-right: 10px;

            @media #{$res-break} {
                width: 45px;
                height: 45px;
                background-image: url('../../dist/img/header_icons/cart-mob.png');
            }

        }

        @include e("bt") {
            @include flexbox(row, nowrap, center, center, center);
            width: 40px;
            height: 40px;

            @media #{$res-break} {
                margin-right: 15px;
            }

        }


        @include e("txt") {
            @include fonte($second-font, 400, 14px, $color-gray-dark);

            @media #{$res-break} {
                @include flexbox(row, nowrap, center, center, center);
                @include border-radius(50px);

                background-color: $color-red-dark;
                color: #FFF;
                font-weight: bold;
                width: 25px;
                height: 25px;
                position: absolute;
                right: 5px;
                top: 16px;

                @include e("desc") {
                    display: none;
                }
            }
        }
    }
}



