.hicons {
    @media #{$res-lg}, #{$res-xl} {
        @include m("left") {
            @include flexbox(row, wrap, flex-start, center, center);
        }

        @include m("right") {
            @include flexbox(row, wrap, flex-end, center, center);
        }
    }

    @media #{$res-xs}, #{$res-sm}, #{$res-md} {
        @include flexbox(row, wrap, center, center, center);
    }

    list-style: none;
    margin: 0px;
    padding: 0px;

    @include e("item") {
        @include flexbox(row, wrap, flex-end, center, center);
        @include m("sep") {
            width: 1px;
            height: 25px;
            background-color: #CCC;
            margin-right: 15px;
        }
    }


    @include e("link") {
        @include flexbox(row, nowrap, flex-start, center, center);
        @include fonte($second-font, 400, 12px, $color-gray);

        padding-left: 30px;
        margin-right: 20px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;

        &:hover {
            color: $color-red;
        }

        @include m("orders") {
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_pedidos.png");

            &:hover {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_pedidos_hover.png");
            }
        }


        @include m("call") {
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_sac.png");

            &:hover {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_sac_hover.png");
            }
        }


        @include m("open") {
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_loja.png");

            &:hover {
                background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_loja_hover.png");
            }
        }


        @include m("points") {
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
        }


        @include m("viber") {
            > img {
                width: 70px;
                height: auto;
            }
        }
    }


    @include e("flags") {
        @include flexbox(row, nowrap, center, center, center);
        position: relative;
        height: 22px;
        > img {
            @include transition;
            margin-left: 5px;
        }

        .subflags {
            display: none;
            margin: 10px 0px;
            padding-top: 0px;
        }

        &:hover {
            > img {
                @include rotate(180);
            }
            .subflags {
                @include animate(fadeIn, 0s);
                display: block;
            }
        }
    }

    @media #{$res-break} {

        @include e('flags'){
            @include flexbox(row, wrap, flex-start, center, center);
            width: 100%;

            .subflags {
                width: 100%;
                margin-bottom: 10px;
            }

        }

        @include e("item") {
            @include flexbox(row, wrap, flex-start, center, center);
            width: 100%;
            margin: 10px 0px;
            @include m('sep'){
                display: none;
            }
            
        }
        @include e('link'){
            @include m('viber'){
                padding-left: 0px;
            }
        }

    }

}
