.minicar {
    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.479));
    @include box-sizing;

    position: absolute;
    display: block !important;
    top: 55px;
    right: 0;
    z-index: 9;
    margin: 0px;
    background-color: #FFF;
    width: 365px;

    @include e("cont") {
        @include box-sizing;
        display: none;

        &.active{
            display: block;
        }

        @include m('empty'){
            .emptycar{
                @include e('title'){
                    @include fonte($second-font, 600, 28px, $color-gray);
                    display: block;
                }
                @include e('txt'){
                    @include fonte($second-font, 400, 14px, $color-gray);
                    display: block;
                }
            }
        }
    }

    @include e("prods") {
        overflow-y: auto;
        height: 310px;
        padding: 10px;
    }

    @include e('values'){
        @include flexbox(row, nowrap, space-between, center, center);
        padding: 10px;
        border-top: 1px solid $color-gray-light;
        border-bottom: 1px solid $color-gray-light;
    }

}

.miniprod {
    @include flexbox(row, nowrap, space-between, flex-start, flex-start);
    @include transition;

    width: 100%;
    border-bottom: 1px solid $color-gray-light;
    padding: 10px 0px;


    &:hover {
        background-color: #FFF;
    }

    @include e("img") {
        width: 85px;
        height: 85px;
        margin-right: 15px;
    }

    @include e("name") {
        @include fonte($second-font, 600, 13px, $color-gray);
    }

    @include e("price") {
        @include fonte($second-font, 400, 14px, $color-red);

        margin-top: 10px;
        display: block;
    }

    @include e("info") {
        @include fonte($second-font, 400, 12px, $color-gray);

        display: block;
    }
}

.minifooter {
    @include flexbox(row, nowrap, space-between, flex-start, flex-start);
    @include box-sizing;
    padding: 10px;

    @include e("total") {
        @include box-sizing;

        @include e("value") {
            @include fonte($second-font, 600, 16px, $color-red);
            @include box-sizing;

            display: block;
            width: 100%;
        }
       
    }


    @include e("buy") {
        @include box-sizing;
        @include fonte($second-font, 600, 14px, #FFF);
        @include transition;
        padding: 10px 15px;
        background-color: $color-red;

        &:hover{
            background-color: $color-red-dark;
        }

    }
}


.minipoints{
    @include box-sizing;
    width: 100%;
    @include e("points") {
        @include fonte($second-font, 400, 14px, $color-gray-dark);
        @include box-sizing;

        background-image: url(../../dist/img/ico_header_points.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 22px;
        display: block;
        width: 100%;
    }
}