.navmob {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    z-index: 10;

    &.active {
        @media #{$res-break} {
            display: block;
        }

        @include animate(fadeIn, 0.1s);

        .navmob__content {
            @include animate(fadeInLeft, 0s);
        }
    }

    @include e("content") {
        width: 85%;
        height: 100%;
        overflow-x: auto;
        background-color: #FFF;
    }


    @include e("header") {
        background-color: $color-red;
        background-image: url("../../dist/img/parallax.png");
    }


    @include e("photo") {
        > img {
            @include border-radius(50%);

            max-width: 80px;
            margin: 15px;
        }
    }


    @include e("welcome") {
        @include box-sizing;

        width: 100%;
        padding-left: 20px;
        padding-bottom: 25px;

        @include e("link") {
            @include fonte($second-font, 400, 16px, #FFF);
        }


        @include e("txt") {
            @include fonte($second-font, 400, 16px, #FFF);
        }
    }


    .mobmenu {
        width: 100%;
        margin: 0px;
        padding: 0px;

        @include e("item") {
            @include flexbox(row, wrap, space-between, center, center);
            @include box-sizing;
            padding: 10px;

            &:before {
                content: "";
                @include order(1);
                background-image: url("../../dist/img/sprite-icons-menu-2.png");
                width: 28px;
                height: 28px;
            }

            &:after {
                @include set-icon($fa-var-caret-right, 20px, 900, $color-gray-dark);
                @include order(3);
                @include transition;
                margin-left: auto;
            }
    

            @include e("link") {
                @include fonte($second-font, 400, 16px, $color-gray);
                @include order(2);
                margin-left: 5px;
            }


            @include e("opensub") {
                &:before {
                    @include set-icon($fa-var-plus, 25px, 900, $color-gray);
                }
            }



            &.active{
                background-color: $color-red;
                .mobmenu__item__link {
                    color: #FFF;
                }

                &:after {
                    @include rotate(90);
                    color: #FFF;
                }

                .subcat {
                    display: block;
                }
            }

            .subcat {
                @include reset-positions;
                width: 100%;
                @include order(4);
            }



            @include m("calcados") {
                &:before {
                    background-position: 0px 4px;
                }
    
                &.active:before {
                    background-position: -30px 4px;
                }
            }
    
    
            @include m("moda") {
                &:before {
                    background-position: 0px -33px;
                }
    
                &.active:before {
                    background-position: -30px -33px;
                }
            }
    
    
            @include m("smarth") {
                &:before {
                    background-position: 0px -70px;
                }
    
                &.active:before {
                    background-position: -30px -70px;
                }
            }
    
    
            @include m("eletrod") {
                &:before {
                    background-position: 0px -105px;
                }
    
                &.active:before {
                    background-position: -30px -105px;
                }
            }
    
    
            @include m("eletroe") {
                &:before {
                    background-position: 0px -142px;
                }
    
                &.active:before {
                    background-position: -30px -142px;
                }
            }
    
    
            @include m("info") {
                &:before {
                    background-position: 0px -177px;
                }
    
                &.active:before {
                    background-position: -30px -177px;
                }
            }
    
    
            @include m("home") {
                &:before {
                    background-position: 0px -212px;
                }
    
                &.active:before {
                    background-position: -30px -212px;
                }
            }
    
    
            @include m("fashion") {
                &:before {
                    background-position: 0px -249px;
                }
    
                &.active:before {
                    background-position: -30px -249px;
                }
            }
    
    
            @include m("pet") {
                &:before {
                    background-position: 0px -286px;
                }
    
                &.active:before {
                    background-position: -30px -286px;
                }
            }
    
    
            @include m("sport") {
                &:before {
                    background-position: 0px -351px;
                }
    
                &.active:before {
                    background-position: -30px -351px;
                }
            }
    
    
            @include m("catg") {
                &:before {
                    background-position: 0px -388px;
                }
    
                &.active:before {
                    background-position: -30px -388px;
                }
            }

        }
    }
}
