.subuser {
    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.479));
    @include box-sizing;
    position: absolute;
    display: none;
    top: 45px;
    right: 0;
    z-index: 9;
    margin: 0px;
    padding-top: 11px;


    @include e("cont") {
        background-color: #FFF;
        
        @include m('off'){
            @include flexbox(row, nowrap, space-between, flex-start, flex-start);
            width: 600px;
        }

        @include m('on'){
            @include flexbox(column, nowrap, space-between, flex-start, flex-start);
            @include box-sizing;
            padding: 15px;
            width: 180px;
        }

    }

    @include e('form'){
        @include box-sizing;
        width: calc(50% - 10px);
        padding: 20px;
    }

    @include e('sep'){
        @include flexbox(column, nowrap, center, center, center);
        background-image: url('../../dist/img/tile_gray.jpg');
        background-repeat: repeat-y;
        background-position: center;
        width: 20px;
        height: 285px;
        

        @include e('txt'){
            background-color: #FFF;
            padding: 10px 0px; 
        }

    }

    @include e('title'){
        @include fonte($second-font, bold, 14px, $color-red);
        width: 100%;
        display: block;
        padding-bottom: 10px;
    }

    @include e('input'){
        @include fonte($second-font, normal, 12px, #000);
        @include box-sizing;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    @include e('forget'){
        @include fonte($second-font, normal, 14px, #000);
        margin-bottom: 10px;
        display: block;
        @include e('link'){
            @include fonte($second-font, normal, 14px, $color-red);
            text-decoration: underline;
        }
    }

    @include e('bt'){
        @include transition;
        @include box-sizing;
        @include fonte($second-font, normal, 14px, #FFF);
        padding: 10px;
        background-color: $color-red;
        border: 0px;
        min-width: 130px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
            background-color: $color-red-dark;
        }
    }

    @include e('terms'){
        @include fonte($second-font, normal, 12px, #000);
        margin-bottom: 10px;
        display: block;
        @include e('link'){
            @include fonte($second-font, normal, 12px, $color-red);
            text-decoration: underline;
        }
    }

    @include e('errors'){
        @include fonte($second-font, normal, 12px, $color-red);
    }

    @include e('points'){
        @include flexbox(row, wrap, flex-start, center, center);
        @include fonte($second-font, normal, 14px, $color-red);
        @include box-sizing;
        width: 100%;
        background-image: url("../../dist/img/ico_header_points.png");
        padding-left: 30px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
    }

    @include e('hsep'){
        width: 100%;
        height: 1px;
        background-color: $color-gray-dark;
        margin: 5px 0px 10px 0px;
    }
    
    @include e('link'){
        @include fonte($second-font, normal, 14px, $color-gray-dark);
        margin-bottom: 10px;
    }

}
