#simple-user-basket {
    @include order(5);
    @include transition;
    @include flexbox(row, nowrap, center, center, center);
    padding: 7px 0px;
    position: relative;

    > .btn{

    }

    #box-itens{
        visibility: hidden;
        position: absolute;
    }

}
