.nrk_header__user {
    @include flexbox(row, nowrap, center, center, center);
    @include order(4);
    @include transition;

    position: relative;
    padding: 15px 0px;

    @include e("icon") {
        background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/user.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
        display: block;
        margin-right: 10px;
    }


    @include e("link") {
        @include fonte($second-font, 400, 14px, $color-gray-dark);
        @include transition;

        &:hover {
            color: $color-red;
        }
    }


    @include e("txt") {
        @include fonte($second-font, 400, 14px, $color-gray-dark);

        margin: 0px 5px;
    }


    &.islogged {
        .uluser {
            display: none;
            position: absolute;
            top: 30px;
            margin: 0px;
            z-index: 9999;
            left: 0;
            padding-top: 15px;

            > ul {
                @include box-sizing;

                @extend %boxshadow;

                background-color: #FFF;
                margin: 0px;
                padding: 10px;
                list-style: none;
                width: auto;

                > li {
                    @include flexbox(row, nowrap, flex-start, center, center);
                    @include transition;
                    padding: 5px 20px 5px 5px;
                    margin-bottom: 5px;

                    &:hover{
                        background-color: $color-gray-extra-light;
                    }

                    a {
                        @include fonte($second-font, 400, 14px, $color-gray-dark);
                    }

                    &:before{
                        content: "";
                        width: auto;
                        height: auto;
                        margin-right: 10px;
                    }

                    &.my-orders{
                        &:before{
                            @include set-icon($fa-var-file-alt, 14px, 900, $color-gray);
                        }
                    }

                    &.my-account{
                        &:before{
                            @include set-icon($fa-var-user-circle, 14px, 900, $color-gray);
                        }
                    }
                    &.my-superpoints{
                        &:before{
                            @include set-icon($fa-var-coins, 14px, 900, $color-gray);
                        }
                    }

                    &.logout{
                        &:before{
                            @include set-icon($fa-var-sign-out-alt, 14px, 900, $color-gray);
                        }
                    }

                }
            }

            .my-points {
                display: none;
            }
        }

        .user-name {
            @include flexbox(row, nowrap, center, center, center);

            > a {
                em {
                    @include fonte($second-font, 400, 14px, $color-gray-dark);
                }

                strong {
                    @include fonte($second-font, 600, 14px, $color-gray-dark);
                }
            }

            &:after {
                @include fonte($second-font, 400, 16px, $color-gray-dark);

                content: "|";
                display: block;
                margin: 0px 10px;
            }

                
            @media #{$res-desk} {
                &:hover {
                    .uluser {
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-name: fadeIn;
                        animation-name: fadeIn;
                        -webkit-animation-delay: 0s;
                        animation-delay: 0s;
                        display: block;
                    }
                }
            }
        }

        .superpoints-total {
            @include flexbox(row, nowrap, center, center, center);

            padding-left: 23px;
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/ico_header_points.png");
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;

            > b {
                @include fonte($second-font, 600, 14px, $color-gray-dark);

                margin-right: 5px;
            }

            > i {
                @include fonte($second-font, 400, 14px, $color-gray-dark);
            }
        }
    }
}

@media #{$res-break} {
    .nrk_header__user{
        @include flexbox(row, wrap, flex-start, center, center);
        width: 100%;
        padding: 0px;

        div.nrk_header__user {
            overflow: visible;
            height: auto;
            min-height: 35px;
            padding: 10px;
        }

        @include e('icon'){
            background-image: url("//resources.rakuten.com.br/SD/sd/rk2019/img/header_icons/user-mob.png");
        }

        @include e("txt") {
            color: $color-gray-light;
        }

        @include e("link") {
            color: $color-gray-light;    
            &:hover {
                color: $color-gray-extra-light;   
            }
        }

        &.islogged {
            
            div.uluser{
                display: block !important;
                position: inherit;
                width: 100%;
                > ul{
                    @include box-shadow(0px, 0px, 0px, transparent);
                    background: transparent;
                    padding: 0px;
                    > li.useropt {
 
                        &:hover{
                            background-color: $color-red-dark;
                        }
    
                        a {
                            @include fonte($second-font, 400, 14px, $color-gray-light);
                        }
                        
                        
                        &:before{
                            color: $color-gray-light;
                        }
    
                    }
                }
            }

            .user-name {
                @include flexbox(row, wrap, flex-start, center, center);
                width: 100%;

                > a {
                    em {
                        color: $color-gray-light;
                    }
    
                    strong {
                        color: $color-gray-light;
                    }
                }
    

                &:after{
                    display: none;
                }
    
    
            }
    
            .superpoints-total {
                > b {
                    color: $color-gray-light;
                }
    
                > i {
                    color: $color-gray-light;
                }

                &:after {
                    @include fonte($second-font, 400, 14px, $color-gray-light);
                    content: "Super Points";
                }
                
            }
           
        }
        

    }

    .wrapper > .nrk_header__user{
        display: none;
    }
}