.section-login{
    background-color: $body_gray_bg;
    padding-top: 10px;
}

.login{
    > .wrapper{
        @include flexbox(row, wrap, space-around, inherit, flex-start);
    }

    @include e('box'){
        @include transition;
        @include box-sizing;
        @include border-radius;
        padding: 20px;
        background-color: #FFF;
        border: 1px solid $color-gray-light;

        @media #{$res-desk} {
            width: calc(50% - 40px);
            margin: 30px 0px;
        }

        @media #{$res-break} {
            width: 100%;
            margin: 10px 0px;
        }


        @include e('header'){
            padding-bottom: 15px;
        }

        @include e('title'){
            @include fonte($second-font, 800, 18px, $color-gray-dark);
        }

    }


    @include e('fieldcont'){
        @include flexbox(row, nowrap, space-between, center, center);
        @include box-sizing;
        @include transition; 
        @include border-radius(3px);
        overflow: hidden;
        width: 100%;
        max-width: 350px;
        background-color: $body_gray_bg;
        margin-bottom: 15px;
        padding: 10px;
        -webkit-box-shadow: inset 1px 1px 2px 0px #e3e3e3;
        -moz-box-shadow: inset 1px 1px 2px 0px #e3e3e3;
        box-shadow: inset 1px 1px 2px 0px #e3e3e3;

        &:hover{
            .login__fieldcont__icon{
                color: #000;
            } 
        }

        @include e('icon'){
          @include transition; 
          margin-right: 10px;
          color: $color-gray;
        }

    }

    @include e('field'){
        @include fonte($second-font, 400, 14px, $color-gray-dark);
        @include box-sizing;
        width: 100%;
        background: transparent;
        border: 0px;
    }


    @include e('link'){
        @include fonte($second-font, 400, 12px, $color-gray-dark);
        text-decoration: underline;
        margin: 5px 0px;
    }

    @include e('terms'){
        @include fonte($second-font, 400, 12px, $color-gray);
        margin: 5px 0px;
        a{
            color: $color-gray-extra-dark;
            text-decoration: underline;
        }
    }

    @include e('atention'){
        @include fonte($second-font, 400, 12px, $color-gray);
        margin: 5px 0px;
        a{
            color: $color-gray-extra-dark;
            text-decoration: underline;
        }
    }

    @include e('btn'){
        @extend %bt-default;
    }

    .waiting{
        @extend %bt-default;
        margin: 10px 0px;
    }

}
